{% comment %}
  Renders cart icon bubble

  Usage:
  {% render 'cart-icon-bubble' %}
{% endcomment %}

{%- liquid
  if cart == empty
    render 'icon-cart-empty'
  else
    render 'icon-cart'
  endif
-%}
<span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
{%- if cart != empty -%}
  {%- liquid
    if section.settings.theme_color_background != 'theme_default'
      assign bg_color_num = section.settings.theme_color_background | slice: -1, 1
    elsif section.settings.theme_color_background == 'theme_default'
      assign bg_color_num = 0
    endif
    if section.settings.theme_color_text != 'theme_default'
      assign text_color_num = section.settings.theme_color_text | slice: -1, 1
    elsif section.settings.theme_color_text == 'theme_default'
      assign text_color_num = 1
    endif
  -%}
  <cart-count-bubble
    class="cart-count-bubble"
    style="background: rgb(var(--palette-color-{{ text_color_num }}));"
  >
    {%- if cart.item_count < 100 -%}
      <span
        class="cart-count-number"
        style="color: rgb(var(--palette-color-{{ bg_color_num }}));"
        aria-hidden="true"
      >
        {{- cart.item_count -}}
      </span>
    {%- endif -%}
    <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
  </cart-count-bubble>
{%- endif -%}
