{% comment %}
  Renders an svg icon

  Accepts:
  - section: {String} The header section object.

  Usage:
  {% render 'country-selector', section: section %}
{% endcomment %}

{%- style -%}
  .country-selector {
    display: flex;
    position: relative;
    flex-direction: column;
  }

  .country-selector .current-country-label {
    display: flex;
    flex-wrap: nowrap;
    gap: 0.5rem;
    width: 100%;
    cursor: pointer;
  }

  .country-selector .current-country-caret {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 0;
    max-width: 2.5rem;
  }

  .country-selector .current-country-caret > svg {
    width: 100%;
  }

  .country-selector .country-selector-menu {
    position: absolute;
    background: rgb(var(--color-site-background));
    border: 1px solid;
    list-style: none;
    padding: 1rem 3rem;
    top: 1.25rem;
    left: -65%;
    z-index: 10;
  }

  .country-selector input[type='checkbox'],
  .country-selector .country-selector-menu {
    display: none;
  }

  .country-selector input[type='checkbox']:checked ~ .country-selector-menu {
    display: inline-block;
  }

  .country-selector input[type='checkbox']:checked ~ .current-country-label .current-country-caret {
    transform: rotate(180deg);
  }

  .country-selector .country-selector-option > a {
    color: rgb(var(--color-main-text));
    text-decoration: none;
    border-bottom: 1px solid transparent;
  }

  .country-selector .country-selector-option > a:hover {
    border-bottom: 1px solid;
  }
{%- endstyle -%}

{%- assign current_country = '' -%}
{%- for country in shop.metaobjects.country_selector.country_data.json_data.value -%}
  {%- assign cleaned_country = country.first | downcase | replace: '.', '' -%}
  {%- if shop.url == country.last -%}
    {%- assign current_country = country.first -%}
  {%- elsif shop.url contains 'dev' and cleaned_country contains 'us' -%}
    {%- assign current_country = country.first -%}
  {%- endif -%}
  {%- assign cleared_current_country = current_country | downcase | replace: '.', '' -%}
  {%- unless cleaned_country == cleared_current_country
    and section.settings.saalt_country_selector_include_current == false
  -%}
    {%- capture country_code -%}
      <li class="country-selector-option" value="{{ country.first }}">
        <a
          {% if section.settings.saalt_country_selector_new_tab %}
            target="_blank"
          {% endif %}
          href="{{ country.last }}"
        >
          {{- country.first -}}
        </a>
      </li>
      {%- endcapture -%}
    {%- assign country_code_block = country_code_block | append: country_code -%}
  {%- endunless -%}
{%- endfor -%}

<div class="country-selector">
  <input type="checkbox" name="country-selector-toggle" id="country-selector-toggle" class="current-country">
  <label class="current-country-label" for="country-selector-toggle">
    {{ current_country }}
    <div class="current-country-caret">
      {% render 'icon-caret' %}
    </div>
  </label>
  <ul class="country-selector-menu">
    {{ country_code_block }}
  </ul>
</div>
