{%- liquid 
    assign imageFile = settings.slt012-image | image_url  
    assign id = 'slt0112-checkout'
-%}
<slt012-trust-callout-frame id="{{ id }}" data-option-close="{{ settings.slt012-close }}">
    <slt012-trust-callout-block>
        <slt012-trust-callout>
            <picture class="slt012-badge-picture">
                <img src="{{ imageFile | default: '//cdn.shopify.com/s/files/1/2705/9430/files/Period-Bliss-Guarantee-icon-homepage_d2957e1e-ffd1-4781-a102-54996b086d5a_120x.png?v=1685135049' }}" alt="{{ settings.slt012-title }}" width="50" height="50" class="slt012-badge-image" />
            </picture>
            <div class="slt012-badge-headline">
                {{ settings.slt012-title }}
            </div>
        </slt012-trust-callout>
    </slt012-trust-callout-block>
</slt012-trust-callout-frame>
<slt012-popup-canvas data-popup-canvas-active="0">
    <slt012-popup-wrap>
        <slt012-popup-wrap-inner>
            <slt012-popup-scroll>
                <slt012-popup-content>
                    <ul class="icons-wrapper mobile-row desktop-row">
                        <li class="icon-wrapper mobile-column desktop-column">
                            <div class="icon-svg-wrapper theme-color-text-4 svg-color-fill">
                                <svg width="126" height="126" viewBox="0 0 126 126" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_493_7014)">
                                        <path d="M110.097 42.4007L109.907 42.4467C109.637 44.6838 107.874 47.5699 101.278 49.1463C93.7613 50.9449 85.8645 48.5329 80.9821 45.0098C80.273 44.4986 79.5535 43.9727 78.8132 43.4645C78.429 43.1978 78.0462 42.9267 77.6605 42.6556C71.9815 38.6465 65.3056 35.7085 58.0362 36.3011H57.9932C57.9695 36.3011 57.9443 36.3011 57.922 36.31C53.1836 36.7145 49.7492 38.1605 47.0373 40.088C44.584 41.6747 42.4611 43.7203 40.7856 46.1121C37.6821 50.5849 36.559 55.7422 37.6257 60.6447C37.6687 60.8432 37.737 61.0329 37.7874 61.2373C36.5746 61.1828 35.3595 61.2065 34.1498 61.3085C27.1178 61.8922 22.0144 66.368 18.9034 71.1949C16.3876 75.1063 15.326 79.7754 15.9037 84.3883L16.0936 84.3438C16.3681 82.1052 18.129 79.2206 24.7263 77.6427C32.2434 75.8456 40.1403 78.2561 45.0226 81.7792C45.7318 82.2918 46.4513 82.8163 47.1916 83.3245C47.5758 83.5912 47.9585 83.8623 48.3443 84.1334C54.0218 88.1411 60.6932 91.079 67.9626 90.4864H68.0071L68.0783 90.4775C72.8153 90.0715 76.2496 88.627 78.963 86.6995C81.4167 85.112 83.5396 83.0654 85.2147 80.6725C88.3182 76.1997 89.4413 71.0423 88.3746 66.1413C88.3316 65.9413 88.2633 65.7517 88.2129 65.5487C89.4257 65.603 90.6407 65.5798 91.8505 65.4791C98.8825 64.8864 103.986 60.418 107.097 55.5911C109.612 51.6805 110.674 47.0126 110.097 42.4007V42.4007ZM87.753 66.3013C87.8613 66.8021 87.9355 67.3073 87.9963 67.814C88.7381 75.0188 82.8039 78.9746 77.5003 79.4724C70.1894 80.1599 64.7077 75.3063 57.9175 70.3919C57.4117 70.0275 56.8895 69.6511 56.345 69.257C50.1972 64.6835 45.0701 61.7307 38.4669 61.267C38.3957 61.0047 38.3081 60.7484 38.2488 60.4788C38.1405 59.978 38.0663 59.4728 38.0055 58.9661C37.2103 51.4101 43.1979 47.8055 48.5015 47.3077C55.8109 46.6262 61.3 51.4857 68.0842 56.3926C68.5901 56.7586 69.1123 57.1334 69.6568 57.5275C75.8046 62.1011 80.9317 65.0538 87.5349 65.5176C87.6061 65.7813 87.6937 66.0361 87.753 66.3013Z"></path>
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_493_7014">
                                            <rect width="126" height="126"></rect>
                                        </clipPath>
                                    </defs>
                                </svg>
                            </div>
                        </li>
                    </ul>
                    <h3 class="section-title">Saalt Bliss Guarantee</h3>
                    <div class="section-content">
                        <p>If you're not happy with your Saalt product,<strong> </strong><a href="/pages/replacements" title="Replacements"><strong>we'll send you a replacement you'll love or your money back up to a full year from purchase</strong></a><strong>.</strong> Why? We know that learning to use reusables can take time, but we're here to help and cheer you to Saalt bliss. <br>Your Saalt(isfaction) guaranteed.</p>
                    </div>
                </slt012-popup-content>
            </slt012-popup-scroll>
        </slt012-popup-wrap-inner>
        <slt012-popup-close-btn>×</slt012-popup-close-btn>
    </slt012-popup-wrap>
    <slt012-popup-overlay></slt012-popup-overlay>
</slt012-popup-canvas>
<style id="{{ id }}-css">
    :root{
        --slt012-bg-color: {{ settings.slt012-bg-color }};
        --slt012-border-color: {{ settings.slt012-border-color }};
        --slt012-border-width: {{ settings.slt012-border-width }};
        --slt012-font-color: {{ settings.slt012-font-color }};
        --slt012-font-size: {{ settings.slt012-font-size }}px;
        --slt012-font-size-mobile: {{ settings.slt012-font-size-mobile }}px;
    }
    slt012-popup-canvas{
        width: 0;
        height: 0;
        margin: 0 auto;
        padding: 0;
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        opacity: 0;
        overflow: hidden;
        z-index: -9999;
        transition-delay: 1ms;
        transition-duration: 20ms;
        transition-property: all;
        transition-timing-function: ease;
    }
    slt012-popup-canvas[data-popup-canvas-active="1"]{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        top: 0;
        left: 0;
        opacity: 1;
        z-index: 9999999;
        transition-delay: 1ms;
        transition-duration: 20ms;
        transition-property: all;
        transition-timing-function: ease;
    }
    slt012-popup-overlay{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,.5);
        z-index: -1;
        opacity: 1;
        transition-delay: 1ms;
        transition-duration: 200ms;
        transition-property: all;
        transition-timing-function: ease;
    }
    slt012-popup-wrap{
        width: 90%;
        max-width: 900px;
        height: 90%;
        max-height: 500px;
        margin: 0 auto;
        padding: 0;
        display: flex;
        position: relative;
        overflow: hidden;
        opacity: 1;
        z-index: 0;
        transition-delay: 1ms;
        transition-duration: 100ms;
        transition-property: all;
        transition-timing-function: ease;
    }
    slt012-popup-wrap-inner{
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding: 25px;
        display: flex;
        position: relative;
        background-color: #fff;
        border-radius: 10px;
        z-index: 0;
        overflow: hidden;
    }
    slt012-popup-scroll{
        width: calc(100% + 5px);
        height: 100%;
        margin: 0;
        padding: 0 5px 0 0;
        display: flex;
        position: relative;      
        z-index: 0;
        overflow-x: hidden;
        overflow-y: auto;
        scrollbar-width: thin;
        scrollbar-color: rgba(0,0,0,1) rgba(0,0,0,.3);
    }
    slt012-popup-scroll::-webkit-scrollbar{
        width: 5px;
    }
    slt012-popup-scroll::-webkit-scrollbar-track{
        background-color: rgba(0,0,0,.3);
    }
    slt012-popup-scroll::-webkit-scrollbar-thumb{
        background-color: rgba(0,0,0,1);
    }
    slt012-popup-content{
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0 10px 0 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        position: relative;      
        z-index: 0;
    }
    
    slt012-popup-close-btn{
        width: 20px;
        height: 20px;
        margin: 0;
        padding: 0;
        background-color: #fff;
        display: inline-block;
        position: absolute;
        top: 3px;
        right: 3px;
        font-size: 25px;
        line-height: .7;
        text-align: center;
        cursor: pointer;
    }
    
    slt012-popup-content .icons-wrapper{
        margin: 0;
        padding: 0;
        flex: 0 0 100%;
        list-style: none;
    }
    slt012-popup-content .icon-svg-wrapper{
        display: flex;
        justify-content: center;
    }
    slt012-popup-content .section-title{
        flex: 0 0 100%;
        text-align: center;
    }
    slt012-popup-content .section-content{
        flex: 0 0 100%;
        text-align: center;
    }.shopify-checkout slt012-popup-content .theme-color-text-4.svg-color-fill svg g[clip-path]{
        fill: rgb(247, 198, 181);
    }
    .shopify-checkout slt012-popup-content .section-title{
        margin: 18px 0;
        font-size: 18px;
        font-family: Montserrat, sans-serif;
        font-weight: 600;
        line-height: 23.4px;
        letter-spacing: .6px;
    }
    .shopify-checkout slt012-popup-content .section-content p{
        margin: 16px 0;
        font-size: 16px;
        font-family: Montserrat, sans-serif;
        font-weight: 400;
        line-height: 28.8px;
        letter-spacing: .6px;
    }
    .shopify-checkout slt012-popup-content .section-content p a{
        color:rgba(55, 55, 55, 0.9);
        text-decoration: underline;
    }
    .shopify-checkout slt012-popup-content .section-content p a strong{
        font-weight: 700;
    }

    slt012-trust-callout-frame#{{ id }}{
        width: 0;
        height: 0;
        margin: 0;
        padding: 0;
        display: flex;
        position: fixed;
        bottom: 100px;
        right: 100vw;
        z-index: 1;
    }
    slt012-trust-callout-block{
        width: {{ settings.slt012-width-desktop }}px;
        margin: 0;
        padding: 0;
        background-color: var(--slt012-bg-color);
        border: solid var(--slt012-border-width) var(--slt012-border-color);
        border-radius: 40px;
        display: flex;
        position: absolute;
        bottom: 0;
        left: calc(100% + 20px);
    }
    slt012-trust-callout{
        margin: 0;
        padding: 0;
        display: flex;
        flex: 0;
        align-items: center;
    }
    slt012-trust-callout-close-button{
        width: 15px;
        height: 15px;
        margin: 0;
        padding: 0;
        background-color: var(--slt012-bg-color);
        border: solid var(--slt012-border-width) var(--slt012-border-color);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        color: var(--slt012-font-color);
    }
    .slt012-badge-picture{
        width: 50px;
        height: 0;
        margin: 0 5px 0 0;
        padding: 50px 0 0;
        display: flex;
        flex: 0 0 auto;
        position: relative;
    }
    .slt012-badge-image{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .slt012-badge-headline{
        width: auto;
        height: auto;
        margin: 0;
        padding: 0;
        display: flex;
        flex: 0 0 auto;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: var(--slt012-font-color);
        font-size: var(--slt012-font-size);
    }

    {%- unless settings.slt012-visiable-desktop -%}
        slt012-trust-callout-frame#{{ id }}{
            display: none;
        }
    {%- endunless -%}
    
    @media all and (max-width: 767px) {  
        slt012-popup-wrap{
            max-height: 600px;
        }

        slt012-trust-callout-block{
            width: {{ settings.slt012-width-mobile }}px;
            padding-bottom: 10px;
            border-radius: 20px;
            justify-content: center;
            align-items: center;
        }
        slt012-trust-callout{
            flex-direction: column;
            justify-content: center;
        }
        slt012-trust-callout-close-button{
            transform: translate(40%, -40%);
        }
        .slt012-badge-picture{
            margin-right: 0;
        }
        .slt012-badge-headline{
            flex: 0 0 100%;
            line-height: 1.2;
            font-size: var(--slt012-font-size-mobile);
        }
        {%- if settings.visiable-mobile -%}
            slt012-trust-callout-frame#{{ id }}{
                display: flex;
            }
        {%- else -%}
            slt012-trust-callout-frame#{{ id }}{
                display: none;
            }
        {%- endif -%}
    }
</style>
<script id="{{ id }}-js">
    class trustCalloutBlock extends HTMLElement{
        static observedAttributes = ['data-option-close'];
        constructor(){
            super();
        }
        connectedCallback(){
            console.log('slt012-trust-callout-frame added');
            this.openPopup();
        }
        attributeChangedCallback(name, oldValue, newValue){
            console.log('attribute ' + name + ' has changed from ' + oldValue + ' to ' + newValue);
            switch(name){
                case 'data-option-close':
                    this.close(newValue);
                    break;
                default:
                    break;
            }
        }
        close($value){
            if($value.toLowerCase() === 'true'){
                if(this.querySelectorAll('slt012-trust-callout-close-button').length < 1){
                    const $frame = this.querySelectorAll('slt012-trust-callout-block');
                    const $closeBtn = document.createElement('slt012-trust-callout-close-button');
                    $closeBtn.innerHTML = '&times;';
                    $closeBtn.addEventListener('click', function($e){
                        $e.preventDefault();
                        $e.target.closest('slt012-trust-callout-block').style.display = 'none';
                    });
                    $frame[0].appendChild($closeBtn);
                }
            }
            else{
                if(this.querySelectorAll('slt012-trust-callout-close-button').length > 0){
                    const $closeBtn = this.querySelectorAll('slt012-trust-callout-close-button');
                    $closeBtn[0].parentNode.removeChild($closeBtn[0]);
                }
            }
        }
        openPopup(){
            if(this.querySelectorAll('slt012-trust-callout').length > 0){
                const $btn = this.querySelectorAll('slt012-trust-callout');
                $btn[0].addEventListener('click', function(){
                    if(document.querySelectorAll('slt012-popup-canvas').length > 0){
                        const $popup = document.querySelectorAll('slt012-popup-canvas');
                        $popup[0].setAttribute('data-popup-canvas-active','1');
                    }
                });
            }
        }
    }
    if(customElements.get('slt012-trust-callout-frame') === undefined){
        customElements.define('slt012-trust-callout-frame', trustCalloutBlock);
    }

    class popupCloseButton extends HTMLElement{
        constructor(){
            super();
        }
        connectedCallback(){
            this.addClickEvent();
        }
        addClickEvent(){
            this.addEventListener('click', function($e){
                $e.target.closest('slt012-popup-canvas').setAttribute('data-popup-canvas-active','0');
            });
        }
    }
    if(customElements.get('slt012-popup-close-btn') === undefined){
        customElements.define('slt012-popup-close-btn', popupCloseButton);
    }
    class popupOverlay extends HTMLElement{
        constructor(){
            super();
        }
        connectedCallback(){
            this.addClickEvent();
        }
        addClickEvent(){
            this.addEventListener('click', function($e){
                $e.target.closest('slt012-popup-canvas').setAttribute('data-popup-canvas-active','0');
            });
        }
    }
    if(customElements.get('slt012-popup-overlay') === undefined){
        customElements.define('slt012-popup-overlay', popupOverlay);
    }
</script>