
{%- capture product_aside_new -%}

{%- comment -%}
--------------------------------------------------------------------------------------------------------------------
PRODUCT WEAR IT WITH

We allow merchants to add a tag that looks like __with:product-handle to feature an additional product
--------------------------------------------------------------------------------------------------------------------
{%- endcomment -%}

  {%- for tag in product.tags -%}
    {%- if tag contains '__with' -%}
      {%- assign product_handle = tag | split: '__with:' | last -%}
      {%- assign associated_product = all_products[product_handle] -%}

      {%- if associated_product != empty -%}
        <div class="Section Section--spacingNormal">
          {%- comment -%}
          <header class="SectionHeader SectionHeader--center">
            <h3 class="SectionHeader__Heading Heading u-h4">{{ 'product.buy_it_with.title' | t }}</h3>
          </header>
          {%- endcomment -%}

          {% render 'product-item-new', product: associated_product, use_horizontal: true, show_labels: false, show_product_info: true, show_vendor: false, show_price_on_hover: false %}
        </div>

        {%- break -%}
      {%- endif -%}
    {%- endif -%}
  {%- endfor -%}
{%- endcapture -%}

{%- comment -%}
Those are the option names for which we automatically detect swatch. For the color, we use them to display a swatch, while
for size, we use it to display a size chart (if applicable)
{%- endcomment -%}

{%- assign color_label = 'color,colour,couleur,colore,farbe,색,色,färg,farve' | split: ',' -%}
{%- assign size_label = 'size,taille,größe,tamanho,tamaño,koko,サイズ' | split: ',' -%}

{%- assign size_chart_page = '' -%}
{%- assign size_chart_page_cups = '' -%}
{%- assign size_chart_page_wear = '' -%}
{%- assign size_chart_page_disc = '' -%}
{%- assign product_popovers = '' -%}
{%- assign show_option_label = false -%}
{%- assign has_bundle_tag = false -%}	

{%- if product.tags contains "Bundles_Period Bundles" -%}	
  {%- assign has_bundle_tag = true -%}	
{%- endif -%}

{%- assign selected_variant = product.selected_or_first_available_variant -%}

{%- form 'product', product, class: 'ProductForm' -%}
  {% if product.metafields.custom.related_product1 != blank and product.metafields.custom.related_product2 != blank %}
    <div class="fs-absorbency-swatch-row">
      <span class="fs-absorbency-lb"> 
          Absorbency: 
          <span class="fs-absorbency-lb-des">
            {% if product.metafields.custom.related_product2 != blank and product.tags contains "Absorbency_Heavy" %}
              Heavy - Replaces 3 pads or 4 regular tampons
            {% elsif product.metafields.custom.related_product1 != blank %}
              Regular - Replaces 2 pads or 3 regular tampons
            {% endif %}
          </span>
      </span>
      <ul class="fs-absorbency-swatch-block">
        {% if product.metafields.custom.related_product1 != blank %}
          {% if product.tags contains "Absorbency_Regular"  %}
            <li class="fs-absorbency-swatch-item">
              <a href="{{all_products[product.metafields.custom.related_product1].url}}" class="fs-absorbency-swatch-btn active">
                <svg width="11" height="15" viewBox="0 0 11 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path id="light" fill-rule="evenodd" clip-rule="evenodd" d="M9.45345 6.90892L5.79153 1.16684C5.74439 1.08468 5.66256 1.02633 5.5673 1.00696C5.47203 0.987588 5.37275 1.00911 5.29523 1.06593C5.25849 1.09446 5.22679 1.12854 5.20133 1.16684L1.53942 6.90892C1.53942 6.90892 1.52601 6.93221 1.51796 6.94515C0.361705 9.30253 1.20676 12.193 3.40123 13.4428C5.59569 14.6927 8.31598 13.7637 9.48296 11.4167C10.1723 10.0003 10.1723 8.36149 9.48296 6.94515C9.47501 6.93175 9.46507 6.91954 9.45345 6.90892V6.90892Z" stroke="#FFF" stroke-width="0.5"/>
                </svg>
                <svg width="11" height="15" viewBox="0 0 11 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path id="light" fill-rule="evenodd" clip-rule="evenodd" d="M9.45345 6.90892L5.79153 1.16684C5.74439 1.08468 5.66256 1.02633 5.5673 1.00696C5.47203 0.987588 5.37275 1.00911 5.29523 1.06593C5.25849 1.09446 5.22679 1.12854 5.20133 1.16684L1.53942 6.90892C1.53942 6.90892 1.52601 6.93221 1.51796 6.94515C0.361705 9.30253 1.20676 12.193 3.40123 13.4428C5.59569 14.6927 8.31598 13.7637 9.48296 11.4167C10.1723 10.0003 10.1723 8.36149 9.48296 6.94515C9.47501 6.93175 9.46507 6.91954 9.45345 6.90892V6.90892Z" stroke="#FFF" stroke-width="0.5"/>
                </svg>
                <svg width="11" height="15" viewBox="0 0 11 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path id="light" fill-rule="evenodd" clip-rule="evenodd" d="M9.45345 6.90892L5.79153 1.16684C5.74439 1.08468 5.66256 1.02633 5.5673 1.00696C5.47203 0.987588 5.37275 1.00911 5.29523 1.06593C5.25849 1.09446 5.22679 1.12854 5.20133 1.16684L1.53942 6.90892C1.53942 6.90892 1.52601 6.93221 1.51796 6.94515C0.361705 9.30253 1.20676 12.193 3.40123 13.4428C5.59569 14.6927 8.31598 13.7637 9.48296 11.4167C10.1723 10.0003 10.1723 8.36149 9.48296 6.94515C9.47501 6.93175 9.46507 6.91954 9.45345 6.90892V6.90892Z" stroke="#FFF" stroke-width="0.5"/>
                </svg>
              </a>
            </li>
          {% else %}
            <li class="fs-absorbency-swatch-item">
              <a href="{{all_products[product.metafields.custom.related_product1].url}}" class="fs-absorbency-swatch-btn">
                <svg width="11" height="15" viewBox="0 0 11 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path id="light" fill-rule="evenodd" clip-rule="evenodd" d="M9.45345 6.90892L5.79153 1.16684C5.74439 1.08468 5.66256 1.02633 5.5673 1.00696C5.47203 0.987588 5.37275 1.00911 5.29523 1.06593C5.25849 1.09446 5.22679 1.12854 5.20133 1.16684L1.53942 6.90892C1.53942 6.90892 1.52601 6.93221 1.51796 6.94515C0.361705 9.30253 1.20676 12.193 3.40123 13.4428C5.59569 14.6927 8.31598 13.7637 9.48296 11.4167C10.1723 10.0003 10.1723 8.36149 9.48296 6.94515C9.47501 6.93175 9.46507 6.91954 9.45345 6.90892V6.90892Z" stroke-width="0.5"/>
                </svg>
                <svg width="11" height="15" viewBox="0 0 11 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path id="light" fill-rule="evenodd" clip-rule="evenodd" d="M9.45345 6.90892L5.79153 1.16684C5.74439 1.08468 5.66256 1.02633 5.5673 1.00696C5.47203 0.987588 5.37275 1.00911 5.29523 1.06593C5.25849 1.09446 5.22679 1.12854 5.20133 1.16684L1.53942 6.90892C1.53942 6.90892 1.52601 6.93221 1.51796 6.94515C0.361705 9.30253 1.20676 12.193 3.40123 13.4428C5.59569 14.6927 8.31598 13.7637 9.48296 11.4167C10.1723 10.0003 10.1723 8.36149 9.48296 6.94515C9.47501 6.93175 9.46507 6.91954 9.45345 6.90892V6.90892Z" stroke-width="0.5"/>
                </svg>
                <svg width="11" height="15" viewBox="0 0 11 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path id="light" fill-rule="evenodd" clip-rule="evenodd" d="M9.45345 6.90892L5.79153 1.16684C5.74439 1.08468 5.66256 1.02633 5.5673 1.00696C5.47203 0.987588 5.37275 1.00911 5.29523 1.06593C5.25849 1.09446 5.22679 1.12854 5.20133 1.16684L1.53942 6.90892C1.53942 6.90892 1.52601 6.93221 1.51796 6.94515C0.361705 9.30253 1.20676 12.193 3.40123 13.4428C5.59569 14.6927 8.31598 13.7637 9.48296 11.4167C10.1723 10.0003 10.1723 8.36149 9.48296 6.94515C9.47501 6.93175 9.46507 6.91954 9.45345 6.90892V6.90892Z" stroke-width="0.5"/>
                </svg>
              </a>
            </li>
          {% endif %}
        {% endif %}
        {% if product.metafields.custom.related_product2 != blank %}
          {% if product.tags contains "Absorbency_Heavy"  %}
            <li class="fs-absorbency-swatch-item">
              <a href="{{all_products[product.metafields.custom.related_product2].url}}" class="fs-absorbency-swatch-btn active">
                <svg width="11" height="15" viewBox="0 0 11 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path id="light" fill-rule="evenodd" clip-rule="evenodd" d="M9.45345 6.90892L5.79153 1.16684C5.74439 1.08468 5.66256 1.02633 5.5673 1.00696C5.47203 0.987588 5.37275 1.00911 5.29523 1.06593C5.25849 1.09446 5.22679 1.12854 5.20133 1.16684L1.53942 6.90892C1.53942 6.90892 1.52601 6.93221 1.51796 6.94515C0.361705 9.30253 1.20676 12.193 3.40123 13.4428C5.59569 14.6927 8.31598 13.7637 9.48296 11.4167C10.1723 10.0003 10.1723 8.36149 9.48296 6.94515C9.47501 6.93175 9.46507 6.91954 9.45345 6.90892V6.90892Z" stroke="#FFF" stroke-width="0.5"/>
                </svg>
                <svg width="11" height="15" viewBox="0 0 11 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path id="light" fill-rule="evenodd" clip-rule="evenodd" d="M9.45345 6.90892L5.79153 1.16684C5.74439 1.08468 5.66256 1.02633 5.5673 1.00696C5.47203 0.987588 5.37275 1.00911 5.29523 1.06593C5.25849 1.09446 5.22679 1.12854 5.20133 1.16684L1.53942 6.90892C1.53942 6.90892 1.52601 6.93221 1.51796 6.94515C0.361705 9.30253 1.20676 12.193 3.40123 13.4428C5.59569 14.6927 8.31598 13.7637 9.48296 11.4167C10.1723 10.0003 10.1723 8.36149 9.48296 6.94515C9.47501 6.93175 9.46507 6.91954 9.45345 6.90892V6.90892Z" stroke="#FFF" stroke-width="0.5"/>
                </svg>
                <svg width="11" height="15" viewBox="0 0 11 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path id="light" fill-rule="evenodd" clip-rule="evenodd" d="M9.45345 6.90892L5.79153 1.16684C5.74439 1.08468 5.66256 1.02633 5.5673 1.00696C5.47203 0.987588 5.37275 1.00911 5.29523 1.06593C5.25849 1.09446 5.22679 1.12854 5.20133 1.16684L1.53942 6.90892C1.53942 6.90892 1.52601 6.93221 1.51796 6.94515C0.361705 9.30253 1.20676 12.193 3.40123 13.4428C5.59569 14.6927 8.31598 13.7637 9.48296 11.4167C10.1723 10.0003 10.1723 8.36149 9.48296 6.94515C9.47501 6.93175 9.46507 6.91954 9.45345 6.90892V6.90892Z" stroke="#FFF" stroke-width="0.5"/>
                </svg>
                <svg width="11" height="15" viewBox="0 0 11 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path id="light" fill-rule="evenodd" clip-rule="evenodd" d="M9.45345 6.90892L5.79153 1.16684C5.74439 1.08468 5.66256 1.02633 5.5673 1.00696C5.47203 0.987588 5.37275 1.00911 5.29523 1.06593C5.25849 1.09446 5.22679 1.12854 5.20133 1.16684L1.53942 6.90892C1.53942 6.90892 1.52601 6.93221 1.51796 6.94515C0.361705 9.30253 1.20676 12.193 3.40123 13.4428C5.59569 14.6927 8.31598 13.7637 9.48296 11.4167C10.1723 10.0003 10.1723 8.36149 9.48296 6.94515C9.47501 6.93175 9.46507 6.91954 9.45345 6.90892V6.90892Z" stroke="#FFF" stroke-width="0.5"/>
                </svg>
              </a>
            </li>
          {% else %}
            <li class="fs-absorbency-swatch-item">
              <a href="{{all_products[product.metafields.custom.related_product2].url}}" class="fs-absorbency-swatch-btn">
                <svg width="11" height="15" viewBox="0 0 11 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path id="light" fill-rule="evenodd" clip-rule="evenodd" d="M9.45345 6.90892L5.79153 1.16684C5.74439 1.08468 5.66256 1.02633 5.5673 1.00696C5.47203 0.987588 5.37275 1.00911 5.29523 1.06593C5.25849 1.09446 5.22679 1.12854 5.20133 1.16684L1.53942 6.90892C1.53942 6.90892 1.52601 6.93221 1.51796 6.94515C0.361705 9.30253 1.20676 12.193 3.40123 13.4428C5.59569 14.6927 8.31598 13.7637 9.48296 11.4167C10.1723 10.0003 10.1723 8.36149 9.48296 6.94515C9.47501 6.93175 9.46507 6.91954 9.45345 6.90892V6.90892Z" stroke-width="0.5"/>
                </svg>
                <svg width="11" height="15" viewBox="0 0 11 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path id="light" fill-rule="evenodd" clip-rule="evenodd" d="M9.45345 6.90892L5.79153 1.16684C5.74439 1.08468 5.66256 1.02633 5.5673 1.00696C5.47203 0.987588 5.37275 1.00911 5.29523 1.06593C5.25849 1.09446 5.22679 1.12854 5.20133 1.16684L1.53942 6.90892C1.53942 6.90892 1.52601 6.93221 1.51796 6.94515C0.361705 9.30253 1.20676 12.193 3.40123 13.4428C5.59569 14.6927 8.31598 13.7637 9.48296 11.4167C10.1723 10.0003 10.1723 8.36149 9.48296 6.94515C9.47501 6.93175 9.46507 6.91954 9.45345 6.90892V6.90892Z" stroke-width="0.5"/>
                </svg>
                <svg width="11" height="15" viewBox="0 0 11 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path id="light" fill-rule="evenodd" clip-rule="evenodd" d="M9.45345 6.90892L5.79153 1.16684C5.74439 1.08468 5.66256 1.02633 5.5673 1.00696C5.47203 0.987588 5.37275 1.00911 5.29523 1.06593C5.25849 1.09446 5.22679 1.12854 5.20133 1.16684L1.53942 6.90892C1.53942 6.90892 1.52601 6.93221 1.51796 6.94515C0.361705 9.30253 1.20676 12.193 3.40123 13.4428C5.59569 14.6927 8.31598 13.7637 9.48296 11.4167C10.1723 10.0003 10.1723 8.36149 9.48296 6.94515C9.47501 6.93175 9.46507 6.91954 9.45345 6.90892V6.90892Z" stroke-width="0.5"/>
                </svg>
                <svg width="11" height="15" viewBox="0 0 11 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path id="light" fill-rule="evenodd" clip-rule="evenodd" d="M9.45345 6.90892L5.79153 1.16684C5.74439 1.08468 5.66256 1.02633 5.5673 1.00696C5.47203 0.987588 5.37275 1.00911 5.29523 1.06593C5.25849 1.09446 5.22679 1.12854 5.20133 1.16684L1.53942 6.90892C1.53942 6.90892 1.52601 6.93221 1.51796 6.94515C0.361705 9.30253 1.20676 12.193 3.40123 13.4428C5.59569 14.6927 8.31598 13.7637 9.48296 11.4167C10.1723 10.0003 10.1723 8.36149 9.48296 6.94515C9.47501 6.93175 9.46507 6.91954 9.45345 6.90892V6.90892Z" stroke-width="0.5"/>
                </svg>
              </a>
            </li>
          {% endif %}
        {% endif %}
      </ul>
    </div>
  {% endif %}
<div class="ProductForm__Variants">
  {%- unless product.has_only_default_variant -%}
  {%- for option in product.options_with_values -%}
    {%- assign downcase_option = option.name | downcase -%}
    {%- if  color_label contains downcase_option and show_color_swatch -%}
      {%- assign show_option_label = true -%}
    {%- endif -%}
  {%- endfor -%}

  {%- for option in product.options_with_values -%}
    {%- assign downcase_option = option.name | downcase -%}
    {%- capture popover_id -%}popover-{{ product.id }}-{{ product.id }}-{{ option.name | handle }}{%- endcapture -%}
  <div class="ProductForm__Option {% if show_option_label %}ProductForm__Option--labelled{% endif %}{% unless color_label contains downcase_option %} custm_non_color_main{% endunless %}">
    {%- if show_option_label -%}
      {%- assign size_chart_page = pages['size-chart'] -%}
      {%- assign size_chart_page_cups = pages['size-chart-cups'] -%}
      {%- assign size_chart_page_wear = pages['size-chart-wear'] -%}
      {%- assign size_chart_page_disc = pages['size-chart-disc'] -%}

      <span class="ProductForm__Label {{ product.collections.first.title }} {{ product.collections.last.title }}">
      {% unless color_label contains downcase_option %}<div class="ProductForm__Label_inn">{% endunless %}
      {{ option.name }}: {% unless color_label contains downcase_option %}
      <span class="ProductForm__SelectedValue">{{ option.selected_value }}</span>
      {% if option.selected_value == 'Regular' %}<span class="cst_field_txt">- holds up to 4 tampons</span>{% endif %}
      {% if option.selected_value == 'Small' %}<span class="cst_field_txt">- holds up to 3 tampons</span>{% endif %}

      {%- assign product_type = product.type | downcase -%}
      {%- if product_type == "apparel" -%}        
        {% if product.tags contains "fit_updated_true_to_size" -%}
          <span class="cst_field_txt"> - {{ settings.updated_true_to_size_msg }}</span>
        {%- elsif product.tags contains "fit_runs_small" -%}
          <span class="cst_field_txt"> - {{ settings.runs_small_msg }}</span>
        {%- elsif product.tags contains "fit_runs_large" -%}
          <span class="cst_field_txt"> - {{ settings.runs_large_msg }}</span>
        {%- else -%}
        <span class="cst_field_txt"> - {{ settings.true_to_size_msg }}</span>
        {% endif %}
      {%- endif -%}

      {% endunless %}
      {% unless color_label contains downcase_option %}</div>{% endunless %}

      {% if color_label contains downcase_option and show_color_swatch %}
      <span class="ProductForm__SelectedValue">{{ option.selected_value }}</span>
      {% endif %}
    </span>
    {%- endif -%}

    {%- if color_label contains downcase_option and show_color_swatch -%}
    <ul class="ColorSwatchList HorizontalList HorizontalList--spacingTight">
      {%- for value in option.values -%}
      {%- assign downcase_value = value | downcase -%}

      <li class="HorizontalList__Item">
        {%- assign color_swatch_name = value | handle | append: '.png' -%}
        {%- assign color_swatch_image = images[color_swatch_name] -%}
        
        <input id="option-{{ section.id }}-{{ forloop.parentloop.index0 }}-{{ forloop.index0 }}" class="ColorSwatch__Radio" type="radio" name="option-{{ forloop.parentloop.index0 }}" value="{{ value | escape }}" {% if value == option.selected_value %}checked="checked"{% endif %} data-option-position="{{ option.position }}">

        <label for="option-{{ section.id }}-{{ forloop.parentloop.index0 }}-{{ forloop.index0 }}" class="ColorSwatch ColorSwatch--large {% if downcase_value == 'white' %}ColorSwatch--white{% endif %}" data-tooltip="{{ value | escape }}" style="background-color: {{ value | replace: ' ', '' | downcase }}; {% if color_swatch_image != blank %}background-image: url({{ color_swatch_image | img_url: '64x64' }}){% endif %}">
          <span class="u-visually-hidden">{{ value }}</span>
        </label>
      </li>

      {%- endfor -%}
    </ul>

    {%- elsif product.title contains 'Wear'-%}

    <button type="button" class="ProductForm__Item" aria-expanded="false" aria-controls="{{ popover_id }}">
      <span class="ProductForm__OptionName">{% unless show_option_label %}{{ option.name }}: {% endunless %}<span class="ProductForm__SelectedValue">{{ option.selected_value }}</span></span>
      {%- render 'icon' with 'select-arrow' -%}
    </button>
    {%- capture popover_html -%}

    <div id="{{ popover_id }}" class="OptionSelector Popover Popover--withMinWidth" aria-hidden="true">
      <header class="Popover__Header">
        <button type="button" class="Popover__Close Icon-Wrapper--clickable" data-action="close-popover">{% render 'icon' with 'close' %}</button>
        <span class="Popover__Title Heading u-h4">{{ option.name | escape }}</span>
      </header>

      <div class="Popover__Content">
        <div class="Popover__ValueList" data-scrollable>
          <div class="size-message">Use hip measurement to determine size. XS=0-2, S=2-4, M=6-10, L=10-14, XL=14-16, XXL=18-20</div>
          {%- for value in option.values -%}
          <button type="button" class="Popover__Value {% if value == option.selected_value %}is-selected{% endif %} Heading Link Link--primary u-h6"
                  data-value="{{ value | escape }}"
                  data-option-position="{{ option.position }}"
                  data-action="select-value">
            {{- value | escape -}}
          </button>
          {%- endfor -%}
        </div>

        {%- assign size_chart_page = pages['size-chart'] -%}

        {%- if show_option_label == false and size_label contains downcase_option and size_chart_page != empty -%}
        <button type="button" class="Popover__FooterHelp Heading Link Link--primary Text--subdued u-h6" data-action="open-modal" aria-controls="modal-{{ size_chart_page.handle }}">
          {{- 'product.form.size_chart' | t -}}
        </button>
        {%- endif -%}
      </div>
    </div>

    {%- endcapture -%}

    {%- assign product_popovers = product_popovers | append: popover_html -%}

    {%- elsif selector_mode == 'block' -%}
    
    <ul class="SizeSwatchList HorizontalList HorizontalList--spacingTight">
      {%- for value in option.values -%}
      <li class="HorizontalList__Item">
        <input id="option-{{ product.id }}-{{ forloop.parentloop.index0 }}-{{ forloop.index0 }}" class="SizeSwatch__Radio" type="radio" name="option-{{ forloop.parentloop.index0 }}" value="{{ value | escape }}" {% if value == option.selected_value %}checked="checked"{% endif %} data-option-position="{{ option.position }}">
        <label for="option-{{ product.id }}-{{ forloop.parentloop.index0 }}-{{ forloop.index0 }}" class="SizeSwatch">{{ value }}</label>
      </li>
      {%- endfor -%}
    </ul>
    {%- else -%}
    <button type="button" class="ProductForm__Item" aria-expanded="false" aria-controls="{{ popover_id }}">
      <span class="ProductForm__OptionName">{% unless show_option_label %}{{ option.name }}: {% endunless %}<span class="ProductForm__SelectedValue">{{ option.selected_value }}</span></span>
      {%- render 'icon' with 'select-arrow' -%}
    </button>

    {%- capture popover_html -%}
    {%- if color_label contains downcase_option and section.settings.show_color_carousel -%}
    {%- for value in option.values -%}
    {%- if value == option.selected_value -%}
    {%- assign initial_image_index = forloop.index0 -%}
    {%- break -%}
    {%- endif -%}
    {%- endfor -%}

    {%- capture flickity_options -%}
    {
    "prevNextButtons": true,
    "pageDots": true,
    "initialIndex": {{ initial_image_index }},
    "arrowShape": {"x0": 20, "x1": 60, "y1": 40, "x2": 60, "y2": 35, "x3": 25}
    }
    {%- endcapture -%}

    <div id="{{ popover_id }}" class="VariantSelector" aria-hidden="true">
      {%- capture option_index -%}option{{ option.position }}{%- endcapture -%}

      <div class="VariantSelector__Carousel Carousel" data-flickity-config='{{ flickity_options }}'>
        {%- for value in option.values -%}
        {%- for variant in product.variants -%}
        {%- if variant[option_index] == value -%}
        {%- assign variant_image = variant.image | default: product.featured_image -%}
        {%- break -%}
        {%- endif -%}
        {%- endfor -%}

        <div class="VariantSelector__Item Carousel__Cell {% if value == option.selected_value %}is-selected{% endif %}"
             data-background-color="{{ value | split: ' ' | last | handle }}"
             data-background-image="{{ value | handle | append: '.png' | asset_url }}"
             data-option-position="{{ option.position }}"
             data-option-value="{{ value | escape }}">
          <div class="VariantSelector__ImageWrapper AspectRatio AspectRatio--withFallback" style="max-width: {{ variant_image.width }}px; padding-bottom: {{ 100.0 | divided_by: variant_image.aspect_ratio }}%; --aspect-ratio: {{ variant_image.aspect_ratio }}">
            {%- capture supported_sizes -%}{%- render 'image-size', sizes: '200,400,600,800', image: variant_image -%}{%- endcapture -%}
            {%- assign image_url = variant_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

            <img class="VariantSelector__Image Image--lazyLoad Image--fadeIn" data-src="{{ image_url }}" data-widths="[{{ supported_sizes }}]" data-sizes="auto" alt="{{ variant_image.alt | escape }}">
            <span class="Image__Loader"></span>
          </div>
        </div>
        {%- endfor -%}
      </div>

      <div class="VariantSelector__Info">
        <div class="VariantSelector__ChoiceList">
          {%- for value in option.values -%}
          {%- assign min_price_for_variant = product.price_max -%}

          {%- for variant in product.variants -%}
          {%- if variant[option_index] == value -%}
          {%- assign min_price_for_variant = min_price_for_variant | at_most: variant.price -%}
          {%- endif -%}
          {%- endfor -%}

          <div class="VariantSelector__Choice {% if value == option.selected_value %}is-selected{% endif %}">
            <div class="VariantSelector__ChoiceColor">
              {%- assign downcase_value = value | downcase -%}

              {%- assign color_swatch_name = value | handle | append: '.png' -%}
              {%- assign color_swatch_image = images[color_swatch_name] -%}

              <span class="VariantSelector__ColorSwatch {% if downcase_value == 'white' %}VariantSelector__ColorSwatch--white{% endif %}" style="background-color: {{ value | replace: ' ', '' | downcase }}; {% if color_swatch_image != blank %}background-image: url({{ color_swatch_image | img_url: '64x64' }}){% endif %}"></span>
              <span class="VariantSelector__ChoiceValue">{{ value }}</span>
            </div>

            <div class="VariantSelector__ChoicePrice">
              {%- if available_prices_for_option_value.size > 1 -%}
              {%- capture formatted_min_price -%}<span>{{ min_price_for_variant | money_without_trailing_zeros }}</span>{%- endcapture -%}
              <span class="Heading Text--subdued">{{ 'product.form.from_price_html' | t: min_price: formatted_min_price }}</span>
              {%- else -%}
              <span class="Heading Text--subdued">{{ min_price_for_variant | money_without_trailing_zeros }}</span>
              {%- endif -%}
            </div>
          </div>
          {%- endfor -%}
        </div>

        <button type="button" class="VariantSelector__Button Button Button--primary Button--full" data-action="select-variant">{{- 'product.form.select_model' | t -}}</button>
      </div>
    </div>
    {%- else -%}
    <div id="{{ popover_id }}" class="OptionSelector Popover Popover--withMinWidth" aria-hidden="true">
      <header class="Popover__Header">
        <button type="button" class="Popover__Close Icon-Wrapper--clickable" data-action="close-popover">{% render 'icon' with 'close' %}</button>
        <span class="Popover__Title Heading u-h4">{{ option.name | escape }}</span>
      </header>

      <div class="Popover__Content">
        <div class="Popover__ValueList" data-scrollable>
          {%- for value in option.values -%}
          <button type="button" class="Popover__Value {% if value == option.selected_value %}is-selected{% endif %} Heading Link Link--primary u-h6"
                  data-value="{{ value | escape }}"
                  data-option-position="{{ option.position }}"
                  data-action="select-value">
            {{- value | escape -}}
          </button>
          {%- endfor -%}
        </div>

        {%- assign size_chart_page = pages['size-chart'] -%}

        {%- if show_option_label == false and size_label contains downcase_option and size_chart_page != empty -%}
        <button type="button" class="Popover__FooterHelp Heading Link Link--primary Text--subdued u-h6" data-action="open-modal" aria-controls="modal-{{ size_chart_page.handle }}">
          {{- 'product.form.size_chart' | t -}}
        </button>
        {%- endif -%}
      </div>
    </div>
    {%- endif -%}
    {%- endcapture -%}

    {%- assign product_popovers = product_popovers | append: popover_html -%}
    {%- endif -%}
  </div>
  {%- endfor -%}


  {%- for option in product.options_with_values -%}
    {%- assign downcase_option = option.name | downcase -%}
    {% assign size_chart_type = 'None' %}
    {% for collection in product.collections %}
      {% if collection.title contains 'Cup' %}
        {% assign size_chart_type = 'Cup' %}
      {% elsif collection.title contains 'Wear' or collection.title contains 'Comfort'  or collection.title contains 'Cotton' or collection.title contains 'Seamless' or collection.title contains 'Lace' or collection.title contains 'Mesh' %}
        {% assign size_chart_type = 'Wear' %}
      {% endif %}
    {% endfor %}
    		
    {%- if product.title contains 'Disc' or template == 'product.new-pre-order' and has_bundle_tag == false -%}
      {%- if downcase_option contains 'size' and size_chart_page_disc != empty -%}
      <div class="fs_pdp_help_noti">
      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect x="5.97742" y="19.2929" width="7.40147" height="18.0942" transform="rotate(-135.405 5.97742 19.2929)" stroke="#575E6E"/>
      <line x1="4.11228" y1="11.0184" x2="6.83163" y2="13.6996" stroke="#575E6E"/>
      <line x1="8.40231" y1="6.66745" x2="11.1217" y2="9.34863" stroke="#575E6E"/>
      <line x1="6.2573" y1="8.84293" x2="10.0644" y2="12.5966" stroke="#575E6E"/>
      <line x1="10.5473" y1="4.49201" x2="14.3544" y2="8.24566" stroke="#575E6E"/>
      </svg>
      <button type="button" class="ProductForm__LabelLink Link Text--subdued" data-action="open-modal" aria-controls="modal-{{ size_chart_page_disc.handle }}">
        Size Chart
      </button>
      {%- comment -%}<a href="sms://+(17752372258?&body="><span>Text our Saalt Coaches M-F, 8-3 PST! 775-23-SAALT</span></a>{%- endcomment -%}	
      </div>	
    {%- endif -%}	
  {%- elsif product.title contains 'Cup' or size_chart_type contains 'Cup' and has_bundle_tag == false -%}
      {%- if size_label contains downcase_option and size_chart_page_cups != empty -%}
      <div class="fs_pdp_help_noti">
      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect x="5.97742" y="19.2929" width="7.40147" height="18.0942" transform="rotate(-135.405 5.97742 19.2929)" stroke="#575E6E"/>
      <line x1="4.11228" y1="11.0184" x2="6.83163" y2="13.6996" stroke="#575E6E"/>
      <line x1="8.40231" y1="6.66745" x2="11.1217" y2="9.34863" stroke="#575E6E"/>
      <line x1="6.2573" y1="8.84293" x2="10.0644" y2="12.5966" stroke="#575E6E"/>
      <line x1="10.5473" y1="4.49201" x2="14.3544" y2="8.24566" stroke="#575E6E"/>
      </svg>
      <button type="button" class="ProductForm__LabelLink Link Text--subdued" data-action="open-modal" aria-controls="modal-{{ size_chart_page_cups.handle }}">
        Size Chart	
      </button>	
      {%- comment -%}<a href="sms://+(17752372258?&body="><span>Text our Saalt Coaches M-F, 8-3 PST! 775-23-SAALT</span></a>{%- endcomment -%}	
      </div>	
      {%- endif -%}	
    {%- elsif product.tags contains "size_modal_wear" or product.title contains 'Leakproof' or size_chart_type contains 'Wear' or size_chart_type contains 'Cotton' or has_bundle_tag == true -%}
      {%- if size_label contains downcase_option and size_chart_page_wear != empty -%}
      <div class="fs_pdp_help_noti">
      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect x="5.97742" y="19.2929" width="7.40147" height="18.0942" transform="rotate(-135.405 5.97742 19.2929)" stroke="#575E6E"/>
      <line x1="4.11228" y1="11.0184" x2="6.83163" y2="13.6996" stroke="#575E6E"/>
      <line x1="8.40231" y1="6.66745" x2="11.1217" y2="9.34863" stroke="#575E6E"/>
      <line x1="6.2573" y1="8.84293" x2="10.0644" y2="12.5966" stroke="#575E6E"/>
      <line x1="10.5473" y1="4.49201" x2="14.3544" y2="8.24566" stroke="#575E6E"/>
      </svg>
      <button type="button" class="ProductForm__LabelLink Link Text--subdued" data-action="open-modal" aria-controls="modal-{{ size_chart_page_wear.handle }}">
        Size Chart	
      </button>	
      {%- comment -%}<a href="sms://+(17752372258?&body="><span>Text our Saalt Coaches M-F, 8-3 PST! 775-23-SAALT</span></a>{%- endcomment -%}
      </div>
      {%- endif -%}
    {%- else -%}
      {%- if size_label contains downcase_option and size_chart_page != empty -%}
      <div class="fs_pdp_help_noti">
      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect x="5.97742" y="19.2929" width="7.40147" height="18.0942" transform="rotate(-135.405 5.97742 19.2929)" stroke="#575E6E"/>
      <line x1="4.11228" y1="11.0184" x2="6.83163" y2="13.6996" stroke="#575E6E"/>
      <line x1="8.40231" y1="6.66745" x2="11.1217" y2="9.34863" stroke="#575E6E"/>
      <line x1="6.2573" y1="8.84293" x2="10.0644" y2="12.5966" stroke="#575E6E"/>
      <line x1="10.5473" y1="4.49201" x2="14.3544" y2="8.24566" stroke="#575E6E"/>
      </svg>
      <button type="button" class="ProductForm__LabelLink Link Text--subdued" data-action="open-modal" aria-controls="modal-{{ size_chart_page.handle }}">
        Size Chart	
      </button>	
      {%- comment -%}<a href="sms://+(17752372258?&body="><span>Text our Saalt Coaches M-F, 8-3 PST! 775-23-SAALT</span></a>{%- endcomment -%}
      </div>
      {%- endif -%}
    {%- endif -%}
  {%- endfor -%}

  <div class="no-js ProductForm__Option">
    <div class="Select Select--primary">
      {%- render 'icon' with 'select-arrow' -%}

      <select id="product-select-{{ product.id }}" name="id" title="Variant">
        {%- for variant in product.variants -%}
        <option {% if variant == selected_variant %}selected="selected"{% endif %} {% unless variant.available %}disabled="disabled"{% endunless %} value="{{ variant.id }}" data-sku="{{ variant.sku }}">{{ variant.title }} - {{ variant.price | money }}</option>
        {%- endfor -%}
      </select>
    </div>
  </div>
  {%- else -%}
  <input type="hidden" name="id" data-sku="{{ selected_variant.sku }}" value="{{ selected_variant.id }}">
  {%- endunless -%}

  {%- if section.settings.show_quantity_selector -%}
    {%- if show_option_label -%}
    <span class="ProductForm__Label {% if template == 'product.new-pre-order' or template == 'product.special-comfort' or template == 'product.bs-seamless' %} hidden-label{% endif %} {% if template == 'product.new-wear' %} bs-wear_ProductForm__Label {% endif %}">{{ 'product.form.quantity' | t }}:</span>
    {%- endif -%}

    <div class="ProductForm__QuantitySelector">
      <div class="QuantitySelector QuantitySelector--large">
        {%- assign quantity_minus_one = line_item.quantity | minus: 1 -%}

        <span class="QuantitySelector__Button Link Link--secondary" data-action="decrease-quantity">{% render 'icon' with 'minus' %}</span>
        <input type="text" class="QuantitySelector__CurrentQuantity" pattern="[0-9]*" name="quantity" value="1">
        <span class="QuantitySelector__Button Link Link--secondary" data-action="increase-quantity">{% render 'icon' with 'plus' %}</span>
      </div>
      {% if template == 'product.new-wear' or template == 'product.special-comfort' or template == 'product.special-cotton' or template == 'product.bs-seamless' %}
      <button type="submit" class="ProductForm__AddToCart Button {% if selected_variant.available and section.settings.show_payment_button == false %}Button--primary{% else %}Button--secondary{% endif %} Button--full{% if product.tags contains "pre-sale" %} pre-sale-btn"{% endif %} {% if selected_variant.available %}data-action="add-to-cart"{% else %}disabled="disabled"{% endif %}>
        {%- if selected_variant.available -%}
          <span>{% if product.template_suffix == 'pre-order' or product.tags contains "pre-sale" %}{{ 'product.form.pre_order' | t }}{% else %}{{ 'product.form.add_to_cart' | t }}{% endif %}</span>

          {%- if section.settings.show_price_in_button -%}
          <span class="Button__SeparatorDot"></span>
          <span>{{ selected_variant.price | money_without_trailing_zeros }}</span>
          {%- endif -%}
        {%- else -%}
          {{- 'product.form.sold_out' | t -}}
        {%- endif -%}
      </button>
      {% endif %}
    </div>
  {%- else -%}
    <input type="hidden" name="quantity" value="1">
  {%- endif -%}

  {%- if section.settings.show_inventory_quantity -%}
    {%- assign hide_inventory_quantity_by_default = false -%}

    {%- if selected_variant.inventory_management == blank or selected_variant.inventory_quantity <= 0 -%}
      {%- assign hide_inventory_quantity_by_default = true -%}
    {%- endif -%}

    {%- if section.settings.inventory_quantity_threshold != 0 and selected_variant.inventory_quantity > section.settings.inventory_quantity_threshold -%}
      {%- assign hide_inventory_quantity_by_default = true -%}
    {%- endif -%}

    <p class="ProductForm__Inventory Text--subdued" {% if hide_inventory_quantity_by_default %}style="display: none"{% endif %}>
      {%- if section.settings.inventory_quantity_threshold == 0 -%}
      {{- 'product.form.inventory_quantity_count' | t: count: selected_variant.inventory_quantity -}}
      {%- else -%}
      {{- 'product.form.low_inventory_quantity_count' | t: count: selected_variant.inventory_quantity -}}
      {%- endif -%}
    </p>
  {%- endif -%}
</div>

{%- comment -%}
--------------------------------------------------------------------------------------------------------------------
ADD TO CART BUTTON
--------------------------------------------------------------------------------------------------------------------
{%- endcomment -%}
{% style %}	
.pre-sale-btn {	
  font-weight: 600;	
  font-size: 13px;	
  letter-spacing: .8px;	
}

{% endstyle %}
{% unless template == 'product.new-wear' or template == 'product.special-comfort' or template == 'product.special-cotton' or template == 'product.bs-seamless'%}
<button type="submit" class="ProductForm__AddToCart Button {% if selected_variant.available and section.settings.show_payment_button == false %}Button--primary{% else %}Button--secondary{% endif %} Button--full{% if product.tags contains "pre-sale" %} pre-sale-btn"{% endif %} {% if selected_variant.available %}data-action="add-to-cart"{% else %}disabled="disabled"{% endif %}>
  {%- if selected_variant.available -%} 
  <span>{% if product.template_suffix == 'pre-order' or product.tags contains "pre-sale" %}{{ 'product.form.pre_order' | t }}{% elsif product.template_suffix == 'new-pre-order'%} {{ 'product.form.add_to_cart' | t }} {% else %}{{ 'product.form.add_to_cart' | t }}{% endif %}</span>
  {% comment %} <span>{% if product.template_suffix == 'pre-order' or product.tags contains "pre-sale" %}{{ 'product.form.pre_order' | t }} {% else %}{{ 'product.form.add_to_cart' | t }}{% endif %}</span> {% endcomment %}

  {%- if section.settings.show_price_in_button -%}
  <span class="Button__SeparatorDot"></span>
  <span>{{ selected_variant.price | money_without_trailing_zeros }}</span>
  {%- endif -%}
  {%- else -%}
  {{- 'product.form.sold_out' | t -}}
  {%- endif -%}
</button>
{% endunless %}
{%- if section.settings.show_payment_button and product.template_suffix != 'pre-order' -%}
{{ form | payment_button }}
{%- endif -%}
{%- endform -%}

{%- comment -%}
<div class="shipping-msg">
  <div class="message">Free domestic shipping on orders of $50+</div>
  <div class="disclaimer">*After discounts, before shipping and taxes.</div>
</div>
{%- endcomment -%}

{%- comment -%} Tax free messaging {%- endcomment -%}
{% if template == 'product.new-custom' 
  or template == 'product.new-wear' 
  or template == 'product.new-pre-order' 
  or template == 'product.special-comfort' 
  or template == 'product.special-cotton' 
  or template == 'product.bs-seamless' %}
<div class="cst_periodPro_add_cart_bottom">
  <ul class="ultop">
    <li>
      {{ section.settings.svg01 }} {{ section.settings.t1 }}
    </li>
    <li>
      {{ section.settings.svg02 }} {{ section.settings.t2 }}
    </li>
    <li>
      {{ section.settings.svg03 }} {{ section.settings.t3 }}
    </li>
  </ul>

  {% if template == 'product.new-pre-order' %}
  {% comment %} <div class="blue-bg-box-msg">
    {{ section.settings.blue_bg_txt }}
  </div> {% endcomment %}
  {% endif %}

  <div class="hide_mobile">
    <div class="loveit loveit-special-cmfort">
      <div class="lisvg">
        {{ section.settings.svg1 }}
      </div>
      <div class="loTxt">
        <h4>{{ section.settings.title1 }}</h4>
        {% comment %} {% if section.settings.text != blank %}
        <p>{{ section.settings.text }}</p>
        {% else %}
        {% if product.metafields.global.custm_below_description != blank %}
        {{ product.metafields.global.custm_below_description }}
        {% endif %}
        {% endif %} {% endcomment %}
        
        {% if product.metafields.global.custm_below_description != blank %}
          {{ product.metafields.global.custm_below_description }}
        {% else %}
          {% if section.settings.text != blank %}
            <p>{{ section.settings.text }}</p>
          {% endif %}
        {% endif %}

      </div>
    </div>
  </div>

  <div class="show_mobile">
    <div class="loveit loveit-special-cmfort">
      <div class="lisvg">
        {{ section.settings.svg1 }}
      </div>
      <div class="loTxt loTxt_mob">
        <h4>{{ section.settings.title1 }}</h4>
        {% comment %} {% if section.settings.text != blank %}
        <p>{{ section.settings.text }}</p>
        {% else %}
        {% if product.metafields.global.custm_below_description != blank %}
        {{ product.metafields.global.custm_below_description }}
        {% endif %}
        {% endif %} {% endcomment %}
        {% if product.metafields.global.custm_below_description != blank %}
          {{ product.metafields.global.custm_below_description }}
        {% else %}
          {% if section.settings.text != blank %}
            <p>{{ section.settings.text }}</p>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endif %}
{% comment %} BS Added {% endcomment %}
{%- if template != 'product' -%}
  {%- if product_aside_new != blank -%}
  <div class="custm_buy_with_sec">
    <div class="Product__Aside">
      <span id="ProductAside" class="Anchor"></span>
      {{- product_aside_new -}}
    </div>
  </div>
  {%- endif -%}
{%- endif -%}


{% if template != 'product.new-custom' 
  and template != 'product.new-wear' 
  and template != 'product.new-pre-order' 
  and template != 'product.special-comfort' 
  and template != 'product.special-cotton'
  and template != 'product.bs-seamless' %}
{% comment %}
<div class="shipping-msg">
  <div class="message"><B>Tax-free period anyone?</B> Pay with your HSA/FSA card.</div>
  <br>
</div>
{% endcomment %}

{%- render 'product-tabs' -%}
{% endif %}

{%- if size_chart_page != empty -%}
{%- comment -%}If we have a size chart we capture the modal content (it must be displayed outside the form for proper positioning){%- endcomment -%}

{%- capture product_modals -%}
<div id="modal-{{ size_chart_page.handle }}" class="Modal Modal--dark Modal--fullScreen Modal--pageContent" aria-hidden="true" role="dialog" data-scrollable>

  <div class="Modal__Content Rte">
    <div class="Container Container--extraNarrow">
      {{- size_chart_page.content -}}
    </div>
  </div>

  <button class="Modal__Close RoundButton RoundButton--large" data-animate-bottom data-action="close-modal">{% render 'icon' with 'close' %}</button>
</div>
<div id="modal-{{ size_chart_page_cups.handle }}" class="Modal Modal--dark Modal--fullScreen Modal--pageContent" aria-hidden="true" role="dialog" data-scrollable>

  <div class="Modal__Content Rte">
    <div class="Container Container--extraNarrow">
      {{- size_chart_page_cups.content -}}
    </div>
  </div>

  <button class="Modal__Close RoundButton RoundButton--large" data-animate-bottom data-action="close-modal">{% render 'icon' with 'close' %}</button>
</div>
<div id="modal-{{ size_chart_page_wear.handle }}" class="Modal Modal--dark Modal--fullScreen Modal--pageContent" aria-hidden="true" role="dialog" data-scrollable>

  <div class="Modal__Content Rte">
    <div class="Container Container--extraNarrow">
      {{- size_chart_page_wear.content -}}
    </div>
  </div>

  <button class="Modal__Close RoundButton RoundButton--large" data-animate-bottom data-action="close-modal">{% render 'icon' with 'close' %}</button>
</div>
<div id="modal-{{ size_chart_page_disc.handle }}" class="Modal Modal--dark Modal--fullScreen Modal--pageContent" aria-hidden="true" role="dialog" data-scrollable>

  <div class="Modal__Content Rte">
    <div class="Container Container--extraNarrow">
      {{- size_chart_page_disc.content -}}
    </div>
  </div>

  <button class="Modal__Close RoundButton RoundButton--large" data-animate-bottom data-action="close-modal">{% render 'icon' with 'close' %}</button>
</div>
{%- endcapture -%}
{%- endif -%}

{%- if section.settings.show_payment_button and selected_variant.available == false -%}
<style>
  #shopify-section-{{ section.id }} .shopify-payment-button {
    display: none;
  }
</style>
{%- endif -%}

{%- comment -%}
--------------------------------------------------------------------------------------------------------------------
OFF SCREEN ELEMENTS

Implementation note: in the past (with "include") we could accumulate the data and output it outside the snippet
itself. However with the new "render" tag, everything that is captured inside cannot be used outside the snippet
itself. As a consequence we are moving them in JavaScript. This allows to make sure that those elements are upper
in the DOM tree, and do not show below the content
--------------------------------------------------------------------------------------------------------------------
{%- endcomment -%}

<div class="Product__OffScreen">
  {{- product_popovers -}}
  {{- product_modals -}}
</div>

{% comment %}
------------------------------------------------------------------------------
Product Data. This must be outputted for all products (including home page).

IMPORTANT: THIS CODE IS VITAL. DO NOT EDIT IT NOT REMOVE IT. MAKE SURE TO KEEP
THE EXACT SAME ATTRIBUTES.
------------------------------------------------------------------------------
{% endcomment %}

<script type="application/json" data-product-json>
  {
    "product": {{ product | json }},
    "selected_variant_id": {{ selected_variant.id }}
    {%- if section.settings.show_inventory_quantity -%}
      ,"inventories": {
        {%- for variant in product.variants -%}
          {%- assign inventory_message = '' -%}

          {%- if section.settings.inventory_quantity_threshold == 0 -%}
            {%- capture inventory_message -%}{{- 'product.form.inventory_quantity_count' | t: count: variant.inventory_quantity -}}{%- endcapture -%}
          {%- else -%}
            {%- capture inventory_message -%}{{- 'product.form.low_inventory_quantity_count' | t: count: variant.inventory_quantity -}}{%- endcapture -%}
          {%- endif -%}

          "{{ variant.id }}": {
            "inventory_management": {{ variant.inventory_management | json }},
            "inventory_policy": {{ variant.inventory_policy | json }},
            "inventory_quantity": {{ variant.inventory_quantity | json }},
            "inventory_message": {{ inventory_message | json }}
          }{% unless forloop.last %},{% endunless %}
        {%- endfor -%}
      }
    {%- endif -%}
  }
</script>
<script>
  $(document).ready(function(){
    $('.loTxt_mob > h4').click(function(){
      $(this).toggleClass('hide_content');
      $(this).next('p').slideToggle();
    });

    $('.SizeSwatchList > li > input').on('click',function(){
      var val = $(this).attr('value');
      if(val == 'Regular'){
        $('span.cst_field_txt').html('- holds up to 4 tampons');
      }

      if(val == 'Small'){
        $('span.cst_field_txt').html('- holds up to 3 tampons');
      }

    });

    var headheight = $('#shopify-section-header').height();
    var height = $('.Product--large').height();
    var height2 = $('.Product__OffScreen').height();
    //var imgs = $('.Product__Slideshow').height();
    var imgs = $('.mainFeaturedProduct_img').height();

    $(window).on('scroll',function(){
      var scrval = $(window).scrollTop();
      if(scrval < 200){
        $('.Product__Info').removeClass('cutm_info_Product');
      }

      if(scrval > 200){
        $('.Product__Info').addClass('cutm_info_Product');
      }
 
      if(scrval >= imgs ){
        $('.Product__Info').removeClass('cutm_info_Product');
      }
    });
  });
</script>