{% comment %}
  Renders a megamenu for the header.

  Usage:
  {% render 'header-mega-menu' %}
{% endcomment %}

{{ 'menu-and-filter-absorbency-icons.css' | asset_url | stylesheet_tag }}
{{ 'menu-and-filter-saalt-wear-style-icons.css' | asset_url | stylesheet_tag }}

<nav class="header__inline-menu">
  <ul class="list-menu list-menu--inline" role="list">
    {%- for link in section.settings.menu.links -%}
      <li>
        {%- if link.links != blank -%}
          <header-menu>
            <details id="Details-HeaderMenu-{{ forloop.index }}" class="mega-menu">
              <summary class="header__menu-item list-menu__item link focus-inset">
                {% if section.settings.use_hover %}
                  <a
                    href="{{ link.url }}"
                    class="header__menu-item list-menu__item link link--text focus-inset"
                    {% if link.current %}
                      aria-current="page"
                    {% endif %}
                  >
                    <span
                      {%- if link.current %}
                        class="header__active-menu-item"
                      {% endif %}
                    >
                      {{- link.title | escape -}}
                    </span>
                  </a>
                {% else %}
                  <span
                    {%- if link.child_active %}
                      class="header__active-menu-item"
                    {% endif %}
                  >
                    {{- link.title | escape -}}
                  </span>
                {% endif %}
                {% render 'icon-caret' %}
              </summary>
              <div
                id="MegaMenu-Content-{{ forloop.index }}"
                class="mega-menu__content gradient motion-reduce global-settings-popup theme-color-text-ignore-children {% if link.levels == 1 %}non-megamenu{% endif %}"
                tabindex="-1"
              >
                <ul
                  class="mega-menu__list page-width{% if link.levels == 1 %} mega-menu__list--condensed{% endif %}"
                  role="list"
                >
                  {%- for childlink in link.links -%}
                    <li>
                      <a
                        href="{{ childlink.url }}"
                        class="mega-menu__link mega-menu__link--level-2 link{% if childlink.current %} mega-menu__link--active{% endif %}"
                        {% if childlink.current %}
                          aria-current="page"
                        {% endif %}
                      >
                        {{ childlink.title | escape }}
                      </a>
                      {%- if childlink.links != blank -%}
                        <ul class="list-unstyled" role="list">
                          {%- liquid
                            comment
                              FOR ABSORBENCY ICONS
                            endcomment
                            assign absorbencies = ''
                            for entry in shop.metaobjects.absorbency.values
                              assign absorbencies = absorbencies | append: entry.absorbency_name
                              unless forloop.last
                                assign absorbencies = absorbencies | append: ', '
                              endunless
                            endfor
                            assign split_absorbencies = absorbencies | split: ', '
                            comment
                              FOR STYLE ICONS
                            endcomment
                            assign styles = ''
                            for entry in shop.metaobjects.saalt_wear_styles.values
                              assign styles = styles | append: entry.style_name
                              unless forloop.last
                                assign styles = styles | append: ', '
                              endunless
                            endfor
                            assign split_styles = styles | split: ', '
                          -%}
                          {%- for grandchildlink in childlink.links -%}
                            <li class="mega-menu__link mega-menu__link--level-3 link">
                              <a
                                href="{{ grandchildlink.url }}"
                                class="mega-menu__link link{% if grandchildlink.current %} mega-menu__link--active{% endif %}"
                                {% if grandchildlink.current %}
                                  aria-current="page"
                                {% endif %}
                              >
                                <div class="link-title">{{ grandchildlink.title | escape }}</div>
                                {%- liquid
                                  assign child_link_downcased = childlink.title | downcase | strip
                                -%}
                                {% render 'menu-and-filter-icons',
                                  value: grandchildlink.title,
                                  split_absorbencies: split_absorbencies,
                                  downcased_label: child_link_downcased,
                                  split_styles: split_styles
                                %}
                              </a>
                            </li>
                          {%- endfor -%}
                        </ul>
                      {%- endif -%}
                    </li>
                  {%- endfor -%}
                </ul>
              </div>
            </details>
          </header-menu>
        {%- else -%}
          <a
            href="{{ link.url }}"
            class="header__menu-item list-menu__item link link--text focus-inset"
            {% if link.current %}
              aria-current="page"
            {% endif %}
          >
            <span
              {%- if link.current %}
                class="header__active-menu-item"
              {% endif %}
            >
              {{- link.title | escape -}}
            </span>
          </a>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
</nav>
