{%- liquid
  if block.settings.theme_color_contacts_icon_color != 'match_text'
    assign color_class = block.settings.theme_color_contacts_icon_color | slice: -1, 1
    assign icon_color = '--palette-color-' | append: color_class
  endif
  if section_text_color != 'theme_default'
    assign color_class = section_text_color | slice: -1, 1
    assign text_color = '--palette-color-' | append: color_class
  endif
-%}
<style>
  #section-{{ section_id }} .text-wrapper .contact-wrapper.contact-list a {
    text-decoration: none;
  }
  #section-{{ section_id }} .text-wrapper .contact-wrapper .contact .contact-image svg {
    {% if icon_color %}
      fill: rgba(var({{ icon_color }}), var(--color-icons-opacity));
    {% elsif text_color %}
      fill: rgba(var({{ text_color }}), var(--color-icons-opacity));
    {% else %}
      fill: rgba(var(--color-icons), var(--color-icons-opacity));
    {% endif %}
    stroke: none;
  }
  #section-{{ section_id }} .text-wrapper .contact-wrapper.contact-list > a .contact .contact-content {
    {% if text_color %}
    color: rgba(var({{ text_color }}), var(--color-main-text-opacity));
    {% else %}
    color: rgba(var(--color-main-text), var(--color-main-text-opacity));
  {% endif %}
    text-decoration: underline;
    text-underline-offset: calc(var(--buttons-border-offset) * 10);
    text-decoration-thickness: 0.1rem;
  }
  #section-{{ section_id }} .text-wrapper .contact-wrapper.contact-list > a:hover .contact .contact-content {
    text-decoration-thickness: var(--buttons-border-width) !important;
  }
</style>

{{ links_text_color }}
<div class="contact-wrapper contact-list" {{ block.shopify_attributes }}>
  <a href="sms://+{{ settings.cx_sms }}" target="_blank">
    <div class="contact{% if section_text_color != "theme_default" %} {{ section_text_color }} svg-fill{% endif %}">
      <div class="contact-image">
        <svg width="36" height="62" viewBox="0 0 36 62" xmlns="http://www.w3.org/2000/svg">
          <path d="M35.6 10.0014C35.6 7.40199 34.6014 4.909 32.8238 3.07091C31.0463 1.23282 28.6354 0.200195 26.1215 0.200195H9.87844C7.3646 0.200195 4.95372 1.23282 3.17617 3.07091C1.39861 4.909 0.399994 7.40199 0.399994 10.0014V51.999C0.399994 54.5984 1.39861 57.0914 3.17617 58.9295C4.95372 60.7676 7.3646 61.8002 9.87844 61.8002H26.1215C28.6354 61.8002 31.0463 60.7676 32.8238 58.9295C34.6014 57.0914 35.6 54.5984 35.6 51.999V10.0014ZM4.49055 12.8008H31.5624V46.4002H4.46408L4.49055 12.8008ZM9.90492 4.40268H26.1215C27.3194 4.40438 28.4829 4.81732 29.4293 5.57669C30.3757 6.33606 31.0515 7.39887 31.3506 8.59833H4.64941C4.94852 7.39887 5.6243 6.33606 6.5707 5.57669C7.5171 4.81732 8.68055 4.40438 9.87844 4.40268H9.90492ZM26.148 57.5977H9.87844C8.44246 57.5977 7.0653 57.0078 6.04991 55.9579C5.03452 54.9079 4.46408 53.4838 4.46408 51.999V50.6301H31.5359V51.999C31.5359 53.4838 30.9655 54.9079 29.9501 55.9579C28.9347 57.0078 27.5575 57.5977 26.1215 57.5977H26.148Z"/>
        </svg>
      </div>
      <span class="contact-content"> TEXT US </span>
    </div>
  </a>
  <a href="mailto:{{ settings.cx_email }}" target="_blank">
    <div class="contact{% if section_text_color != "theme_default" %} {{ section_text_color }} svg-fill{% endif %}">
      <div class="contact-image">
        <svg width="60" height="42" viewBox="0 0 60 42" xmlns="http://www.w3.org/2000/svg">
          <path d="M55.331 0.466802H4.66906C4.14377 0.466025 3.62346 0.559088 3.13791 0.740665C2.65236 0.922242 2.21109 1.18877 1.83935 1.525C1.46761 1.86123 1.17269 2.26056 0.971475 2.70016C0.770258 3.13975 0.666686 3.61097 0.666687 4.08686V37.9134C0.666686 38.3893 0.770258 38.8605 0.971475 39.3001C1.17269 39.7397 1.46761 40.139 1.83935 40.4753C2.21109 40.8115 2.65236 41.078 3.13791 41.2596C3.62346 41.4412 4.14377 41.5342 4.66906 41.5335H55.331C55.8563 41.5342 56.3766 41.4412 56.8621 41.2596C57.3477 41.078 57.789 40.8115 58.1607 40.4753C58.5324 40.139 58.8273 39.7397 59.0286 39.3001C59.2298 38.8605 59.3334 38.3893 59.3334 37.9134V4.08686C59.3334 3.61097 59.2298 3.13975 59.0286 2.70016C58.8273 2.26056 58.5324 1.86123 58.1607 1.525C57.789 1.18877 57.3477 0.922242 56.8621 0.740665C56.3766 0.559088 55.8563 0.466025 55.331 0.466802V0.466802ZM55.331 35.3504L44.7449 25.7599C44.3633 25.4512 43.8657 25.2866 43.3543 25.3C42.8429 25.3133 42.3566 25.5036 41.9952 25.8317C41.6339 26.1598 41.425 26.6008 41.4114 27.0642C41.3979 27.5275 41.5807 27.9779 41.9224 28.3229L52.5085 37.9134H7.49158L18.0777 28.3229C18.4193 27.9779 18.6021 27.5275 18.5886 27.0642C18.575 26.6008 18.3661 26.1598 18.0048 25.8317C17.6435 25.5036 17.1571 25.3133 16.6457 25.3C16.1343 25.2866 15.6367 25.4512 15.2551 25.7599L4.66906 35.3504V12.1006L28.6963 28.4883C29.0443 28.7247 29.4672 28.8531 29.9022 28.8544C30.3336 28.8549 30.753 28.7262 31.0951 28.4883L55.331 12.0829V35.3504ZM55.331 4.08686V7.56518L29.9088 24.7737L4.66906 7.55928V4.08686H55.331Z"/>
        </svg>
      </div>
      <span class="contact-content"> EMAIL US </span>
    </div>
  </a>
</div>
