{{ 'component-saalt-modal.css' | asset_url | stylesheet_tag }}
<script src="{{ 'saalt-modal.js' | asset_url }}" defer="defer"></script>

{%- capture tampon_icon -%}{% render "svg-tampon" %}{%- endcapture -%}
{%- capture pad_icon -%}{% render "svg-pad" %}{%- endcapture -%}
{%- capture drop_icon -%}{% render "svg-absorbency-drop" %}{%- endcapture -%}
{%- assign drop_icon_filled = drop_icon
  | replace: '<svg class="absorbency-icon"', '<svg class="absorbency-icon  drop-icon-filled"'
-%}
{%- assign drop_icon_empty = drop_icon
  | replace: '<svg class="absorbency-icon"', '<svg class="absorbency-icon  drop-icon-empty"'
-%}
<section
  id="section-{{ section.id }}"
  data-section-id="{{ section.id }}"
  class="section-headline-row{% if section.settings.theme_color_background != 'theme_default' %} {{ section.settings.theme_color_background }}{% endif %}"
  {{ block.shopify_attributes }}
>
  <div
    {% if section.settings.section_id != blank %}
      id="{{ section.settings.section_id | handleize }}"
    {% endif -%}
    class="section-inner"
    tabindex="0"
  >
    {%- liquid
      assign block_count = section.blocks.size
      for block in section.blocks
        assign index = forloop.index
        if section.settings.use_graduated_bgs
          assign bg_opacity = 100 | divided_by: block_count | times: index
        else
          assign bg_opacity = block.settings.theme_color_card_background_opacity
        endif
        case block.type
          when 'absorbency_card'
            render 'saalt-absorbency-card', block: block, index: index, tampon_icon: tampon_icon, pad_icon: pad_icon, drop_icon_filled: drop_icon_filled, drop_icon_empty: drop_icon_empty, max_num_of_drops: section.settings.max_num_of_drops, bg_opacity: bg_opacity
        endcase
      endfor
    -%}
  </div>
</section>

{%- style -%}
  #section-{{ section.id }} {
    position: relative;
    overflow: hidden;
    max-width: 100%;
  }

  #section-{{ section.id }} .section-inner, #section-{{ section.id }} .section-inner .card, #section-{{ section.id }} .section-inner .card .card-header, #section-{{ section.id }} .section-inner .card .absorbency-icon-wrapper, #section-{{ section.id }} .section-inner .card .content-wrapper, #section-{{ section.id }} .section-inner .card .content-wrapper .hold-capacity-wrapper, #section-{{ section.id }} .section-inner .card .hold-capacity-icons-wrapper, #section-{{ section.id }} .section-inner .card .hold-capacity-icons-wrapper .icon-wrapper, #section-{{ section.id }} .section-inner .card .content-wrapper .best-for-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  #section-{{ section.id }} .section-inner .card,  #section-{{ section.id }} .section-inner .card .card-header, #section-{{ section.id }} .section-inner .card .content-wrapper, #section-{{ section.id }} .section-inner .card .content-wrapper .hold-capacity-wrapper, #section-{{ section.id }} .section-inner .card .content-wrapper .hold-capacity-wrapper .icon-wrapper, #section-{{ section.id }} .section-inner .card .content-wrapper .best-for-wrapper {
    flex-direction: column;
  }

  #section-{{ section.id }} .section-inner {
    position: relative;
    background: rgba(var(--color-site-background));
    flex-direction: column;
    border: 2px solid transparent;
    z-index: 1;
  }

  #section-{{ section.id }} .section-inner:focus {
    border: 2px solid rgba(var(--color-main-text), .75);
    overflow: scroll;
  }

  #section-{{ section.id }} .section-inner .card {
    position: relative;
    width: 100%;
    height: auto;
    font-weight: 400;
    justify-content: flex-start;
    gap: 2rem;
    padding: 3.75rem 0;
    text-align: center;
  }

  #section-{{ section.id }} .section-inner .card .card-header {
    flex-wrap: wrap;
    gap: 1rem;
  }

  #section-{{ section.id }} .section-inner .card .card-header .card-title-wrapper {
    flex-direction: row;
    gap: .65rem;
  }

  #section-{{ section.id }} .section-inner .card .card-header .card-title-wrapper .card-title {
    display: block;
    font-size: 24px;
    width: 100%;
    margin: 0;
    text-align: center;
  }

  #section-{{ section.id }} .section-inner .card .card-header .absorbency-icon-wrapper {
    display: flex;
    gap: .5rem;
  }

  #section-{{ section.id }} .section-inner .card .card-header .absorbency-icon-wrapper .absorbency-icon {
    display: inline-block;
    height: auto;
    width: 12px;
    stroke-width: 3px;
    fill: transparent;
    color: transparent;
    stroke: rgba(var(--color-icons), var(--color-icons-opacity));
    stroke-width: 1px;
  }

  #section-{{ section.id }} .section-inner .card .card-header .absorbency-icon-wrapper .absorbency-icon.drop-icon-filled {
    fill: rgba(var(--color-icons), var(--color-icons-opacity));
    color: rgba(var(--color-icons), var(--color-icons-opacity));
    stroke: rgba(var(--color-icons), var(--color-icons-opacity));
  }

  #section-{{ section.id }} .section-inner .card .content-wrapper {
    gap: 2rem;
    max-width: 300px;
    margin: 0 auto 9rem;
  }

  {%- render 'saalt-custom-section-button-css' -%}

  #section-{{ section.id }} .section-inner .card .content-wrapper .hold-capacity-wrapper, #section-{{ section.id }} .section-inner .card .content-wrapper .best-for-wrapper {
    text-align: center;
    gap: 2.5rem;
  }
  #section-{{ section.id }} .section-inner .card .content-wrapper .hold-capacity-wrapper .hold-capacity-icons-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 1rem;
  }

  #section-{{ section.id }} .section-inner .card .content-wrapper .hold-capacity-wrapper .hold-capacity-icons-wrapper .icon-wrapper {
    justify-content: flex-start;
    gap: .5rem;
    width: 100%;
    max-width: 80px;
  }

  #section-{{ section.id }} .section-inner .card .content-wrapper .hold-capacity-wrapper .hold-capacity-icons-wrapper .icon-wrapper .tampon-icon .tampon-icon-svg, #section-{{ section.id }} .section-inner .card .content-wrapper .hold-capacity-wrapper .hold-capacity-icons-wrapper .icon-wrapper .pad-icon .pad-icon-svg {
    display: inline-block;
    max-width: 100%;
    max-height: 48px;
    stroke-width: 1.5px;
  }

  #section-{{ section.id }} .section-inner .card .content-wrapper .hold-capacity-wrapper .hold-capacity-text, #section-{{ section.id }} .section-inner .card .content-wrapper .best-for-wrapper .best-for-text {
    background: #fff;
    border-radius: 2px;
    font-size: 1.25rem;
    font-weight: 400;
    width: 80%;
    margin: 0 auto;
  }

  #section-{{ section.id }} .section-inner .card .content-wrapper .best-for-wrapper .uses-grid {
    {% liquid
      if section.settings.best_for_list_style == "grid"
        echo "display: grid;"
        echo "grid-template-columns: repeat(2, 1fr);"
        echo "column-gap: 2.25rem;"
        echo "row-gap: 1rem;"
      else
        echo "display: flex;"
        echo "flex-direction: column;"
      endif
    %}
    position: relative;
    max-width: 76%;
    margin: 0 auto;
    list-style: disc;
    left: 1rem;
    padding-left: 0;
  }

  #section-{{ section.id }} .section-inner .card .content-wrapper .best-for-wrapper .uses-grid .use {
    text-align: left;
    line-height: 1.5;
    margin-bottom: 1rem;
  }

  @media screen and (min-width: 380px) {
    #section-{{ section.id }} .section-inner .card {
      min-width: 380px;
      padding: 3.75rem;
    }
  }

  @media screen and (min-width: 580px) {
    #section-{{ section.id }} .section-inner {
      flex-direction: row;
      justify-content: flex-start;
      overflow: auto;
    }
  }

  @media screen and (min-width: 1024px) {
    #section-{{ section.id }} .section-inner {
      max-width: {{ section.blocks.size | times: 380 }}px;
      margin: 0 auto;
    }
  }


  @media screen and (min-width: {{ section.blocks.size | times: 380 }}px) {
    #section-{{ section.id }} .section-inner {
      justify-content: center;
    }
  }

  @media screen and (min-width: 1290px) {
    #section-{{ section.id }} .section-inner .card .card-header {
      flex-direction: row;
      gap: 1rem;
    }
  }
{%- endstyle -%}
