{%- assign img_width = 100 | divided_by: window_display_count -%}
{%- capture img_sizes_attr -%}(min-width: 750px) {{ img_width | append: "vw" }}, 100vw{%- endcapture -%}
{%- assign img_width_attr = img_width | times: 50 -%}
<div
  class="window-feature-wrapper {% if block.settings.link_type == 'filter' %}buttonEnable {% else %} button-disabled{% endif %}"
  data-filter-name="{{ block.settings.filter_name }}"
  data-filter-val="{{ block.settings.filter_val }}"
>
  <a
    class="window-feature {% if checkboxEnable %} {% else %}no-hover{% endif %}"
    tabindex="0"
    {% if block.settings.link_type == 'url' %}
      href="{{ block.settings.link_url }}"
    {% endif %}
    {{ block.shopify_attributes }}
  >
    <div class="image-wrapper">
      {%- if block.settings.image != blank -%}
        {{
          block.settings.image
          | image_url: width: img_width_attr
          | image_tag:
            class: 'image-element',
            loading: 'lazy',
            width: 1,
            height: 1,
            sizes: img_sizes_attr,
            alt: block.settings.image.alt
        }}
      {%- else -%}
        {%- if forloop_index <= 6 -%}
          {%- capture placeholder_name -%}product-{{ forloop_index }}{%- endcapture -%}
        {%- else -%}
          {%- capture placeholder_name -%}product-{{ forloop_index | modulo: 6 }}{%- endcapture -%}
        {%- endif -%}
        {{ placeholder_name | placeholder_svg_tag }}
      {%- endif -%}
    </div>
    <div class="text-wrapper" {% if checkboxEnable %} {% else %}show-title{% endif %}"  {% if checkboxEnable %}style="opacity:{{ bgOpacity }}%;background:{{ backgroundColor }};color:{{ textColor }}" {% else %} style="opacity:1;background:unset;color:{{ textColor }}"  {% endif %}>
      {%- if block.settings.title != blank -%}
        <div class="window-feature-title">
          {{ block.settings.title }}
        </div>
      {%- endif -%}
      <div class="window-feature-copy">
        {%- if block.settings.copy != blank -%}
          {{ block.settings.copy }}
        {%- endif -%}
      </div>
    </div>
  </a>
  <div class="window-feature-button-wrapper {% if checkboxEnable %} {% else %}ClickWorkingHere{% endif %}">
    {% if block.settings.link_type == 'url' %}
      <a
        class="window-feature-button"
        href="{{ block.settings.link_url }}"
      >
        <span>{{- block.settings.button_text -}}</span>
      </a>
    {% else %}
      <button class="window-feature-button {% if checkboxEnable %} {% else %}ClickWorkingHere{% endif %}">
        <span>{{- block.settings.button_text -}}</span>
      </button>
    {% endif %}
  </div>
</div>
