{%- liquid 
    assign imageFile = section.settings.image | image_url  
-%}
<slt012-trust-callout-frame id="{{ section.id }}" data-option-close="{{ section.settings.close }}">
    <slt012-trust-callout-block>
        <slt012-trust-callout>
            <picture class="slt012-badge-picture">
                <img src="{{ imageFile | default: '//cdn.shopify.com/s/files/1/2705/9430/files/Period-Bliss-Guarantee-icon-homepage_d2957e1e-ffd1-4781-a102-54996b086d5a_120x.png?v=1685135049' }}" alt="{{ section.settings.title }}" width="50" height="50" class="slt012-badge-image" />
            </picture>
            <div class="slt012-badge-headline">
                {{ section.settings.title }}
            </div>
        </slt012-trust-callout>
    </slt012-trust-callout-block>
</slt012-trust-callout-frame>
<style id="{{ section.id }}-css">
    :root{
        --slt012-bg-color: {{ section.settings.bg-color }};
        --slt012-border-color: {{ section.settings.border-color }};
        --slt012-border-width: {{ section.settings.border-width }};
        --slt012-font-color: {{ section.settings.font-color }};
        --slt012-font-size: {{ section.settings.font-size }}px;
    }
    slt012-trust-callout-frame#{{ section.id }}{
        width: 0;
        height: 0;
        margin: 0;
        padding: 0;
        display: flex;
        position: fixed;
        bottom: 100px;
        right: 100vw;
        z-index: 1;
    }
    slt012-trust-callout-block{
        width: 250px;
        margin: 0;
        padding: 0;
        background-color: var(--slt012-bg-color);
        border: solid var(--slt012-border-width) var(--slt012-border-color);
        border-radius: 40px;
        display: flex;
        position: absolute;
        bottom: 0;
        left: calc(100% + 20px);
    }
    slt012-trust-callout{
        margin: 0;
        padding: 0;
        display: flex;
        flex: 0;
        align-items: center;
    }
    slt012-trust-callout-close-button{
        width: 15px;
        height: 15px;
        margin: 0;
        padding: 0;
        background-color: var(--slt012-bg-color);
        border: solid var(--slt012-border-width) var(--slt012-border-color);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        color: var(--slt012-font-color);
    }
    .slt012-badge-picture{
        width: 50px;
        height: 0;
        margin: 0 5px 0 0;
        padding: 50px 0 0;
        display: flex;
        flex: 0 0 auto;
        position: relative;
    }
    .slt012-badge-image{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .slt012-badge-headline{
        width: auto;
        height: auto;
        margin: 0;
        padding: 0;
        display: flex;
        flex: 0 0 auto;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: var(--slt012-font-color);
        font-size: var(--slt012-font-size);
    }

    {%- unless section.settings.visiable-desktop -%}
        slt012-trust-callout-frame#{{ section.id }}{
            display: none;
        }
    {%- endunless -%}
    
    @media all and (max-width: 767px) {  
        slt012-trust-callout-block{
            width: 100px;
            padding-bottom: 10px;
            border-radius: 20px;
            justify-content: center;
            align-items: center;
        }
        slt012-trust-callout{
            flex-direction: column;
            justify-content: center;
        }
        slt012-trust-callout-close-button{
            transform: translate(40%, -40%);
        }
        .slt012-badge-picture{
            margin-right: 0;
        }
        .slt012-badge-headline{
            flex: 0 0 100%;
            line-height: 1.2;
            font-size: 13px;
        }
        {%- if section.settings.visiable-mobile -%}
            slt012-trust-callout-frame#{{ section.id }}{
                display: flex;
            }
        {%- else -%}
            slt012-trust-callout-frame#{{ section.id }}{
                display: none;
            }
        {%- endif -%}
    }
</style>
<script id="{{ section.id }}-js">
    if(typeof('trustCalloutBlock') === 'undefined'){
        class trustCalloutBlock extends HTMLElement{
            static observedAttributes = ['data-option-close'];
            constructor(){
                super();
            }
            connectedCallback(){
                console.log('slt012-trust-callout-frame added');
            }
            attributeChangedCallback(name, oldValue, newValue){
                console.log('attribute ' + name + ' has changed from ' + oldValue + ' to ' + newValue);
                switch(name){
                    case 'data-option-close':
                        this.close(newValue);
                        break;
                    default:
                        break;
                }
            }
            close($value){
                if($value.toLowerCase() === 'true'){
                    if(this.querySelectorAll('slt012-trust-callout-close-button').length < 1){
                        const $frame = this.querySelectorAll('slt012-trust-callout-block');
                        const $closeBtn = document.createElement('slt012-trust-callout-close-button');
                        $closeBtn.innerHTML = '&times;';
                        $closeBtn.addEventListener('click', function($e){
                            $e.preventDefault();
                            $e.target.closest('slt012-trust-callout-block').style.display = 'none';
                        });
                        $frame[0].appendChild($closeBtn);
                    }
                }
                else{
                    if(this.querySelectorAll('slt012-trust-callout-close-button').length > 0){
                        const $closeBtn = this.querySelectorAll('slt012-trust-callout-close-button');
                        $closeBtn[0].parentNode.removeChild($closeBtn[0]);
                    }
                }
            }
        }
    }
    if(customElements.get('slt012-trust-callout-frame') === undefined){
        customElements.define('slt012-trust-callout-frame', trustCalloutBlock);
    }
</script>
{% schema %}
  {
    "name": "Trust Callout",
    "settings": [
        {
            "type":"text",
            "id":"title",
            "label":"Title",
            "default":"Full Refund Guarantee"
        },
        {
            "type":"image_picker",
            "id":"image",
            "label":"Image Icon"
        },
        {
            "type":"checkbox",
            "id":"close",
            "label":"User can close",
            "default":true
        },
        {
            "type":"checkbox",
            "id":"visiable-desktop",
            "label":"Display on desktop",
            "default":false
        },
        {
            "type":"checkbox",
            "id":"visiable-mobile",
            "label":"Display on mobile",
            "default":true
        },
        {
            "type":"color",
            "id":"bg-color",
            "label":"Background color",
            "default":"#fff"
        },
        {
            "type":"color",
            "id":"border-color",
            "label":"Border color",
            "default":"#3f4759"
        },
        {
            "type":"select",
            "id":"border-width",
            "label":"Border width",
            "options":[
                {
                    "value":"1px",
                    "label":"1px"
                },
                {
                    "value":"2px",
                    "label":"2px"
                },
                {
                    "value":"3px",
                    "label":"3px"
                }
            ],
            "default":"2px"
        },
        {
            "type":"color",
            "id":"font-color",
            "label":"Font color",
            "default":"#3f4759"
        },
        {
            "type":"range",
            "id":"font-size",
            "label":"Font size",
            "min":9,
            "max":20,
            "step":1,
            "unit":"px",
            "default":14
        }
    ],
    "limit": 1,
    "presets": [
      {
        "category": "Footer",
        "name": "CRO Trust Callout",
        "settings":{}
      }
    ],
    "enabled_on": {
      "groups": ["footer"]
    }
  }
{% endschema %}