{{ 'section-rich-text.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
<div id="section-{{ section.id }}" class="isolate{% unless section.settings.full_width %} page-width{% endunless %}">
  <div class="rich-text content-container{% if section.settings.theme_color_background != 'theme_default' %} {{ section.settings.theme_color_background }}{% endif %}{% if section.settings.theme_color_text != 'theme_default' %} {{ section.settings.theme_color_text }} svg-color-fill{% endif %}{% if section.settings.full_width %} rich-text--full-width content-container--full-width{% endif %} section-{{ section.id }}-padding">
    <div class="rich-text__wrapper rich-text__wrapper--{{ section.settings.desktop_content_position }}{% if section.settings.full_width %} page-width{% endif %}">
      <div class="rich-text__blocks {{ section.settings.content_alignment }}">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'heading' -%}
              <h2
                class="rich-text__heading rte inline-richtext {{ block.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                {{ block.shopify_attributes }}
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                {% endif %}
              >
                {{ block.settings.heading }}
              </h2>
            {%- when 'caption' -%}
              <p
                class="rich-text__caption {{ block.settings.text_style }} {{ block.settings.text_style }}--{{ block.settings.text_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                {{ block.shopify_attributes }}
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                {% endif %}
              >
                {{ block.settings.caption | escape }}
              </p>
            {%- when 'text' -%}
              <div
                class="rich-text__text rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                {{ block.shopify_attributes }}
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                {% endif %}
              >
                {{ block.settings.text }}
              </div>
            {%- when 'section_buttons_group' -%}
              {%- for block in section.blocks -%}
                {%- case block.type -%}
                  {%- when 'section_button' -%}
                    {%- if block.settings.button_text != blank -%}
                      {%- capture button_code -%}
                        <a
                          class="button{% render 'saalt-button-color-classes', obj: block %}"
                          {% if block.settings.button_url == blank %}
                            role="link" aria-disabled="true"
                          {% else %}
                            href="{{ block.settings.button_url }}"
                          {% endif %}
                        >
                          {{ block.settings.button_text | escape }}
                        </a>
                        {%- endcapture -%}
                      {%- assign buttons_code = buttons_code | append: button_code -%}
                    {%- endif -%}
                {%- endcase -%}
              {%- endfor -%}
              {% capture buttons_group_css %}
                #section-{{ section.id }} .button-group {
                  display: flex;
                  gap: 1.5rem;
                  justify-content: center;
                }
                @media screen and (min-width: 750px) {
                  #section-{{ section.id }} .button-group {
                    gap: {{ block.settings.desktop_buttons_group_gap }};
                    justify-content: {{ block.settings.desktop_button_group_alignment }};
                  }
                  #section-{{ section.id }} .button-group .button {
                    width: auto;
                  }
                }
              {% endcapture %}
              {% style %}
                {{ buttons_group_css }}
              {% endstyle %}
              <div class="button-group" {{ block.shopify_attributes }}>
                {{ buttons_code }}
              </div>
              <div
                class="rich-text__buttons{% if block.settings.button_label != blank and block.settings.button_label_2 != blank %} rich-text__buttons--multiple{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                {{ block.shopify_attributes }}
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                {% endif %}
              >
                {%- if block.settings.button_label != blank -%}
                  <a
                    {% if block.settings.button_link == blank %}
                      role="link" aria-disabled="true"
                    {% else %}
                      href="{{ block.settings.button_link }}"
                    {% endif %}
                    class="button{% if block.settings.button_style_secondary %} button--secondary{% else %} button--primary{% endif %}"
                  >
                    {{- block.settings.button_label | escape -}}
                  </a>
                {%- endif -%}
                {%- if block.settings.button_label_2 != blank -%}
                  <a
                    {% if block.settings.button_link_2 == blank %}
                      role="link" aria-disabled="true"
                    {% else %}
                      href="{{ block.settings.button_link_2 }}"
                    {% endif %}
                    class="button{% if block.settings.button_style_secondary_2 %} button--secondary{% else %} button--primary{% endif %}"
                  >
                    {{- block.settings.button_label_2 | escape -}}
                  </a>
                {%- endif -%}
              </div>
          {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.rich-text.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "left",
          "label": "t:sections.rich-text.settings.desktop_content_position.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.rich-text.settings.desktop_content_position.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.rich-text.settings.desktop_content_position.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.rich-text.settings.desktop_content_position.label",
      "info": "t:sections.rich-text.settings.desktop_content_position.info"
    },
    {
      "type": "select",
      "id": "content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.rich-text.settings.content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.rich-text.settings.content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.rich-text.settings.content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.rich-text.settings.content_alignment.label"
    },
    {
      "type": "select",
      "id": "theme_color_background",
      "label": "t:settings_schema.theme_colors.settings.sections.background_color_label",
      "info": "Sets the background color",
      "options": [
        {
          "value": "theme_default",
          "label": "t:settings_schema.color_palette.settings.theme_default.label"
        },
        {
          "value": "theme-color-bg-0",
          "label": "t:settings_schema.color_palette.settings.palette_color_0.label"
        },
        {
          "value": "theme-color-bg-1",
          "label": "t:settings_schema.color_palette.settings.palette_color_1.label"
        },
        {
          "value": "theme-color-bg-2",
          "label": "t:settings_schema.color_palette.settings.palette_color_2.label"
        },
        {
          "value": "theme-color-bg-3",
          "label": "t:settings_schema.color_palette.settings.palette_color_3.label"
        },
        {
          "value": "theme-color-bg-4",
          "label": "t:settings_schema.color_palette.settings.palette_color_4.label"
        },
        {
          "value": "theme-color-bg-5",
          "label": "t:settings_schema.color_palette.settings.palette_color_5.label"
        },
        {
          "value": "theme-color-bg-6",
          "label": "t:settings_schema.color_palette.settings.palette_color_6.label"
        },
        {
          "value": "theme-color-bg-7",
          "label": "t:settings_schema.color_palette.settings.palette_color_7.label"
        }
      ],
      "default": "theme_default"
    },
    {
      "type": "select",
      "id": "theme_color_text",
      "label": "t:settings_schema.theme_colors.settings.sections.text_color_label",
      "info": "Sets the text color",
      "options": [
        {
          "value": "theme_default",
          "label": "t:settings_schema.color_palette.settings.theme_default.label"
        },
        {
          "value": "theme-color-text-0",
          "label": "t:settings_schema.color_palette.settings.palette_color_0.label"
        },
        {
          "value": "theme-color-text-1",
          "label": "t:settings_schema.color_palette.settings.palette_color_1.label"
        },
        {
          "value": "theme-color-text-2",
          "label": "t:settings_schema.color_palette.settings.palette_color_2.label"
        },
        {
          "value": "theme-color-text-3",
          "label": "t:settings_schema.color_palette.settings.palette_color_3.label"
        },
        {
          "value": "theme-color-text-4",
          "label": "t:settings_schema.color_palette.settings.palette_color_4.label"
        },
        {
          "value": "theme-color-text-5",
          "label": "t:settings_schema.color_palette.settings.palette_color_5.label"
        },
        {
          "value": "theme-color-text-6",
          "label": "t:settings_schema.color_palette.settings.palette_color_6.label"
        },
        {
          "value": "theme-color-text-7",
          "label": "t:settings_schema.color_palette.settings.palette_color_7.label"
        }
      ],
      "default": "theme_default"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": true,
      "label": "t:sections.rich-text.settings.full_width.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.rich-text.blocks.heading.name",
      "limit": 3,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Talk about your brand",
          "label": "t:sections.rich-text.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            },
            {
              "value": "hxl",
              "label": "t:sections.all.heading_size.options__4.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        }
      ]
    },
    {
      "type": "caption",
      "name": "t:sections.rich-text.blocks.caption.name",
      "limit": 3,
      "settings": [
        {
          "type": "text",
          "id": "caption",
          "default": "Add a tagline",
          "label": "t:sections.rich-text.blocks.caption.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "subtitle",
              "label": "t:sections.rich-text.blocks.caption.settings.text_style.options__1.label"
            },
            {
              "value": "caption-with-letter-spacing",
              "label": "t:sections.rich-text.blocks.caption.settings.text_style.options__2.label"
            }
          ],
          "default": "caption-with-letter-spacing",
          "label": "t:sections.rich-text.blocks.caption.settings.text_style.label"
        },
        {
          "type": "select",
          "id": "text_size",
          "options": [
            {
              "value": "small",
              "label": "t:sections.rich-text.blocks.caption.settings.caption_size.options__1.label"
            },
            {
              "value": "medium",
              "label": "t:sections.rich-text.blocks.caption.settings.caption_size.options__2.label"
            },
            {
              "value": "large",
              "label": "t:sections.rich-text.blocks.caption.settings.caption_size.options__3.label"
            }
          ],
          "default": "medium",
          "label": "t:sections.rich-text.blocks.caption.settings.caption_size.label"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.rich-text.blocks.text.name",
      "limit": 3,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.</p>",
          "label": "t:sections.rich-text.blocks.text.settings.text.label"
        }
      ]
    },
    {
      "type": "section_buttons_group",
      "name": "Section Buttons Group",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "❗️NOTE❗️: This is just a parent element/container to wrap around section button blocks. Please be sure to also add section button blocks or this will appear empty. Drag and drop this to move the buttons within the section."
        },
        {
          "type": "select",
          "id": "desktop_button_group_alignment",
          "label": "Button Group Alignment on *DESKTOP*",
          "info": "❗️Add section buttons in the previous menu ❗️",
          "options": [
            {
              "value": "flex-start",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "flex-end",
              "label": "Right"
            }
          ],
          "default": "center"
        },
        {
          "type": "text",
          "id": "desktop_buttons_group_gap",
          "label": "Space Between Buttons on *DESKTOP*",
          "info": "Distance between buttons for the entire buttons group. Any valid css value is accepted.",
          "default": "1rem"
        }
      ]
    },
    {
      "type": "section_button",
      "name": "Section Button",
      "settings": [
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text",
          "default": "Button text"
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "Button Destination"
        },
        {
          "type": "select",
          "id": "button_type",
          "label": "t:settings_schema.theme_colors.settings.buttons.button_type_label",
          "info": "t:settings_schema.theme_colors.settings.buttons.button_type_info",
          "options": [
            {
              "value": "primary",
              "label": "Primary"
            },
            {
              "value": "secondary",
              "label": "Secondary"
            }
          ],
          "default": "primary"
        },
        {
          "type": "select",
          "id": "theme_color_section_button_background",
          "label": "t:settings_schema.theme_colors.settings.buttons.static_bg_label",
          "info": "t:settings_schema.theme_colors.settings.buttons.static_bg_info",
          "options": [
            {
              "value": "theme_default",
              "label": "t:settings_schema.color_palette.settings.theme_default.label"
            },
            {
              "value": "theme-color-bg-0",
              "label": "t:settings_schema.color_palette.settings.palette_color_0.label"
            },
            {
              "value": "theme-color-bg-1",
              "label": "t:settings_schema.color_palette.settings.palette_color_1.label"
            },
            {
              "value": "theme-color-bg-2",
              "label": "t:settings_schema.color_palette.settings.palette_color_2.label"
            },
            {
              "value": "theme-color-bg-3",
              "label": "t:settings_schema.color_palette.settings.palette_color_3.label"
            },
            {
              "value": "theme-color-bg-4",
              "label": "t:settings_schema.color_palette.settings.palette_color_4.label"
            },
            {
              "value": "theme-color-bg-5",
              "label": "t:settings_schema.color_palette.settings.palette_color_5.label"
            },
            {
              "value": "theme-color-bg-6",
              "label": "t:settings_schema.color_palette.settings.palette_color_6.label"
            },
            {
              "value": "theme-color-bg-7",
              "label": "t:settings_schema.color_palette.settings.palette_color_7.label"
            }
          ],
          "default": "theme_default"
        },
        {
          "type": "select",
          "id": "theme_color_text_section_button_text",
          "label": "t:settings_schema.theme_colors.settings.buttons.static_text_label",
          "info": "t:settings_schema.theme_colors.settings.buttons.static_text_info",
          "options": [
            {
              "value": "theme_default",
              "label": "t:settings_schema.color_palette.settings.theme_default.label"
            },
            {
              "value": "theme-color-text-0",
              "label": "t:settings_schema.color_palette.settings.palette_color_0.label"
            },
            {
              "value": "theme-color-text-1",
              "label": "t:settings_schema.color_palette.settings.palette_color_1.label"
            },
            {
              "value": "theme-color-text-2",
              "label": "t:settings_schema.color_palette.settings.palette_color_2.label"
            },
            {
              "value": "theme-color-text-3",
              "label": "t:settings_schema.color_palette.settings.palette_color_3.label"
            },
            {
              "value": "theme-color-text-4",
              "label": "t:settings_schema.color_palette.settings.palette_color_4.label"
            },
            {
              "value": "theme-color-text-5",
              "label": "t:settings_schema.color_palette.settings.palette_color_5.label"
            },
            {
              "value": "theme-color-text-6",
              "label": "t:settings_schema.color_palette.settings.palette_color_6.label"
            },
            {
              "value": "theme-color-text-7",
              "label": "t:settings_schema.color_palette.settings.palette_color_7.label"
            }
          ],
          "default": "theme_default"
        },
        {
          "type": "select",
          "id": "theme_color_section_button_background_hover",
          "label": "t:settings_schema.theme_colors.settings.buttons.hover_bg_label",
          "info": "t:settings_schema.theme_colors.settings.buttons.hover_bg_info",
          "options": [
            {
              "value": "theme_default",
              "label": "t:settings_schema.color_palette.settings.theme_default.label"
            },
            {
              "value": "theme-color-bg-0-hover",
              "label": "t:settings_schema.color_palette.settings.palette_color_0.label"
            },
            {
              "value": "theme-color-bg-1-hover",
              "label": "t:settings_schema.color_palette.settings.palette_color_1.label"
            },
            {
              "value": "theme-color-bg-2-hover",
              "label": "t:settings_schema.color_palette.settings.palette_color_2.label"
            },
            {
              "value": "theme-color-bg-3-hover",
              "label": "t:settings_schema.color_palette.settings.palette_color_3.label"
            },
            {
              "value": "theme-color-bg-4-hover",
              "label": "t:settings_schema.color_palette.settings.palette_color_4.label"
            },
            {
              "value": "theme-color-bg-5-hover",
              "label": "t:settings_schema.color_palette.settings.palette_color_5.label"
            },
            {
              "value": "theme-color-bg-6-hover",
              "label": "t:settings_schema.color_palette.settings.palette_color_6.label"
            },
            {
              "value": "theme-color-bg-7-hover",
              "label": "t:settings_schema.color_palette.settings.palette_color_7.label"
            }
          ],
          "default": "theme_default"
        },
        {
          "type": "select",
          "id": "theme_color_text_section_button_text_hover",
          "label": "t:settings_schema.theme_colors.settings.buttons.hover_text_label",
          "info": "t:settings_schema.theme_colors.settings.buttons.hover_text_info",
          "options": [
            {
              "value": "theme_default",
              "label": "t:settings_schema.color_palette.settings.theme_default.label"
            },
            {
              "value": "theme-color-text-0-hover",
              "label": "t:settings_schema.color_palette.settings.palette_color_0.label"
            },
            {
              "value": "theme-color-text-1-hover",
              "label": "t:settings_schema.color_palette.settings.palette_color_1.label"
            },
            {
              "value": "theme-color-text-2-hover",
              "label": "t:settings_schema.color_palette.settings.palette_color_2.label"
            },
            {
              "value": "theme-color-text-3-hover",
              "label": "t:settings_schema.color_palette.settings.palette_color_3.label"
            },
            {
              "value": "theme-color-text-4-hover",
              "label": "t:settings_schema.color_palette.settings.palette_color_4.label"
            },
            {
              "value": "theme-color-text-5-hover",
              "label": "t:settings_schema.color_palette.settings.palette_color_5.label"
            },
            {
              "value": "theme-color-text-6-hover",
              "label": "t:settings_schema.color_palette.settings.palette_color_6.label"
            },
            {
              "value": "theme-color-text-7-hover",
              "label": "t:settings_schema.color_palette.settings.palette_color_7.label"
            }
          ],
          "default": "theme_default"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.rich-text.presets.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "section_buttons_group"
        },
        {
          "type": "section_button"
        }
      ]
    }
  ]
}
{% endschema %}
