{%- capture tampon_icon -%}{% render "svg-tampon" %}{%- endcapture -%}
{%- capture pad_icon -%}{% render "svg-pad" %}{%- endcapture -%}
{%- capture drop_icon -%}{% render "svg-absorbency-drop" %}{%- endcapture -%}
{%- assign drop_icon_filled = drop_icon
  | replace: '<svg class="absorbency-icon"', '<svg class="absorbency-icon  drop-icon-filled"'
-%}
{%- assign drop_icon_empty = drop_icon
  | replace: '<svg class="absorbency-icon"', '<svg class="absorbency-icon  drop-icon-empty"'
-%}
<section
  id="section-{{ section.id }}"
  data-section-id="{{ section.id }}"
  class="section-headline-row{% if section.settings.theme_color_background != 'theme_default' %} {{ section.settings.theme_color_background }}{% endif %}"
  {{ block.shopify_attributes }}
>
  <div
    {% if section.settings.section_id != blank %}
      id="{{ section.settings.section_id | handleize }}"
    {% endif -%}
    class="section-inner"
  >
    {%- liquid
      assign block_count = section.blocks.size
      for block in section.blocks
        assign index = forloop.index
        if section.settings.use_graduated_bgs
          assign bg_opacity = 100 | divided_by: block_count | times: index
        else
          assign bg_opacity = block.settings.theme_color_card_background_opacity
        endif
        case block.type
          when 'absorbency_card'
            render 'saalt-absorbency-card', block: block, index: index, tampon_icon: tampon_icon, pad_icon: pad_icon, drop_icon_filled: drop_icon_filled, drop_icon_empty: drop_icon_empty, max_num_of_drops: section.settings.max_num_of_drops, bg_opacity: bg_opacity
        endcase
      endfor
    -%}
  </div>
</section>

{%- style -%}
  #section-{{ section.id }} {
    position: relative;
    overflow: hidden;
  }

  #section-{{ section.id }} .section-inner, #section-{{ section.id }} .section-inner .card, #section-{{ section.id }} .section-inner .card .card-header, #section-{{ section.id }} .section-inner .card .absorbency-icon-wrapper, #section-{{ section.id }} .section-inner .card .content-wrapper, #section-{{ section.id }} .section-inner .card .content-wrapper .hold-capacity-wrapper, #section-{{ section.id }} .section-inner .card .hold-capacity-icons-wrapper, #section-{{ section.id }} .section-inner .card .hold-capacity-icons-wrapper .icon-wrapper, #section-{{ section.id }} .section-inner .card .content-wrapper .best-for-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  #section-{{ section.id }} .section-inner .card,  #section-{{ section.id }} .section-inner .card .card-header, #section-{{ section.id }} .section-inner .card .content-wrapper, #section-{{ section.id }} .section-inner .card .content-wrapper .hold-capacity-wrapper, #section-{{ section.id }} .section-inner .card .content-wrapper .hold-capacity-wrapper .icon-wrapper, #section-{{ section.id }} .section-inner .card .content-wrapper .best-for-wrapper {
    flex-direction: column;
  }

  #section-{{ section.id }} .section-inner {
    position: relative;
    background: rgba(var(--color-site-background));
    flex-direction: column;
    z-index: 1;
  }

  #section-{{ section.id }} .section-inner .card {
    position: relative;
    width: 100%;
    height: auto;
    font-weight: 400;
    justify-content: flex-start;
    gap: 2rem;
    padding: 3.75rem 0;
    text-align: center;
  }

  #section-{{ section.id }} .section-inner .card .card-header {
    flex-wrap: wrap;
  }

  #section-{{ section.id }} .section-inner .card .card-header .card-title-wrapper {
    flex-direction: row;
    gap: .65rem;
  }

  #section-{{ section.id }} .section-inner .card .card-header .card-title-wrapper .card-title {
    display: block;
    font-size: 24px;
    width: 100%;
    margin: 0;
    text-align: center;
  }

  #section-{{ section.id }} .section-inner .card .card-header .absorbency-icon-wrapper {
    display: flex;
    gap: .5rem;
  }

  #section-{{ section.id }} .section-inner .card .card-header .absorbency-icon-wrapper .absorbency-icon {
    display: inline-block;
    height: auto;
    width: 12px;
    stroke-width: 3px;
    fill: transparent;
    color: transparent;
    stroke: rgba(var(--color-icons), var(--color-icons-opacity));
    stroke-width: 1.75rem;
  }

  #section-{{ section.id }} .section-inner .card .card-header .absorbency-icon-wrapper .absorbency-icon.drop-icon-filled {
    fill: rgba(var(--color-icons), var(--color-icons-opacity));
    color: rgba(var(--color-icons), var(--color-icons-opacity));
    stroke: rgba(var(--color-icons), var(--color-icons-opacity));
  }

  #section-{{ section.id }} .section-inner .card .content-wrapper {
    gap: 2rem;
    max-width: 300px;
    margin: 0 auto 9rem;
  }

  {%- render 'saalt-custom-section-button-css' -%}

  #section-{{ section.id }} .section-inner .card .content-wrapper .hold-capacity-wrapper, #section-{{ section.id }} .section-inner .card .content-wrapper .best-for-wrapper {
    text-align: center;
    gap: 2.5rem;
  }
  #section-{{ section.id }} .section-inner .card .content-wrapper .hold-capacity-wrapper .hold-capacity-icons-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 1rem;
  }

  #section-{{ section.id }} .section-inner .card .content-wrapper .hold-capacity-wrapper .hold-capacity-icons-wrapper .icon-wrapper {
    justify-content: flex-start;
    gap: .5rem;
    width: 100%;
    max-width: 80px;
  }

  #section-{{ section.id }} .section-inner .card .content-wrapper .hold-capacity-wrapper .hold-capacity-icons-wrapper .icon-wrapper .tampon-icon .tampon-icon-svg, #section-{{ section.id }} .section-inner .card .content-wrapper .hold-capacity-wrapper .hold-capacity-icons-wrapper .icon-wrapper .pad-icon .pad-icon-svg {
    display: inline-block;
    max-width: 100%;
    max-height: 48px;
    stroke-width: 1.5px;
  }

  #section-{{ section.id }} .section-inner .card .content-wrapper .hold-capacity-wrapper .hold-capacity-text, #section-{{ section.id }} .section-inner .card .content-wrapper .best-for-wrapper .best-for-text {
    background: #fff;
    border-radius: 2px;
    font-size: 1.25rem;
    font-weight: 300;
    width: 80%;
    margin: 0 auto;
  }

  #section-{{ section.id }} .section-inner .card .content-wrapper .best-for-wrapper .uses-grid {
    display: grid;
    position: relative;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2.25rem;
    row-gap: 1rem;
    list-style: disc;
    left: 1rem;
    padding-left: 0;
  }

  #section-{{ section.id }} .section-inner .card .content-wrapper .best-for-wrapper .uses-grid .use {
    text-align: left;
  }

  @media screen and (min-width: 360px) {
    #section-{{ section.id }} .section-inner .card {
      min-width:360px;
      padding: 3.75rem;
    }
  }

  @media screen and (min-width: 580px) {
    #section-{{ section.id }} .section-inner {
      flex-direction: row;
      justify-content: flex-start;
      overflow: auto;
    }
  }

  @media screen and (min-width: 1024px) {
    #section-{{ section.id }} .section-inner {
      max-width: 1500px;
      margin: 0 auto;
    }
  }


  @media screen and (min-width: 1076px) {
    #section-{{ section.id }} .section-inner {
      justify-content: center;
    }
  }

  @media screen and (min-width: 1290px) {
    #section-{{ section.id }} .section-inner .card .card-header {
      flex-direction: row;
      gap: 1rem;
    }
  }
{%- endstyle -%}

{% schema %}
{
  "name": "Saalt Absorbency Chart",
  "settings": [
    {
      "type": "text",
      "id": "section_id",
      "label": "Section ID (Optional)",
      "info": "Typically only used when setting this ID as a link's destination."
    },
    {
      "type": "select",
      "id": "theme_color_background",
      "label": "t:settings_schema.theme_colors.settings.sections.background_color_label",
      "info": "Sets the background color",
      "options": [
        {
          "value": "theme_default",
          "label": "t:settings_schema.color_palette.settings.theme_default.label"
        },
        {
          "value": "theme-color-bg-0",
          "label": "t:settings_schema.color_palette.settings.palette_color_0.label"
        },
        {
          "value": "theme-color-bg-1",
          "label": "t:settings_schema.color_palette.settings.palette_color_1.label"
        },
        {
          "value": "theme-color-bg-2",
          "label": "t:settings_schema.color_palette.settings.palette_color_2.label"
        },
        {
          "value": "theme-color-bg-3",
          "label": "t:settings_schema.color_palette.settings.palette_color_3.label"
        },
        {
          "value": "theme-color-bg-4",
          "label": "t:settings_schema.color_palette.settings.palette_color_4.label"
        },
        {
          "value": "theme-color-bg-5",
          "label": "t:settings_schema.color_palette.settings.palette_color_5.label"
        },
        {
          "value": "theme-color-bg-6",
          "label": "t:settings_schema.color_palette.settings.palette_color_6.label"
        },
        {
          "value": "theme-color-bg-7",
          "label": "t:settings_schema.color_palette.settings.palette_color_7.label"
        }
      ],
      "default": "theme_default"
    },
    {
      "type": "number",
      "id": "max_num_of_drops",
      "label": "Max number of absorbency drops",
      "info": "This is the maximum number of drops displayed for all absorbencies. The default is 5.",
      "default": 5
    },
    {
      "type": "checkbox",
      "id": "use_graduated_bgs",
      "label": "Use progressively darker backgrounds",
      "info": "When checked, this makes each card slightly darker than the last based on the total number of cards, regardless of individual card color. ❗️NOTE❗️: Enabling this overrides the opacity setting in the absorbency card blocks.",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "absorbency_card",
      "name": "Absorbency Card",
      "settings": [
        {
          "type": "text",
          "id": "absorbency_name",
          "label": "Absorbency name",
          "info": "Please enter the name of an absorbency here. This should match at least one entry name within the Absorbency metaobject.",
          "default": "Light"
        },
        {
          "type": "select",
          "id": "theme_color_card_background",
          "label": "t:settings_schema.theme_colors.settings.sections.background_color_label",
          "info": "Sets the background color",
          "options": [
            {
              "value": "theme_default",
              "label": "t:settings_schema.color_palette.settings.theme_default.label"
            },
            {
              "value": "--palette-color-0",
              "label": "t:settings_schema.color_palette.settings.palette_color_0.label"
            },
            {
              "value": "--palette-color-1",
              "label": "t:settings_schema.color_palette.settings.palette_color_1.label"
            },
            {
              "value": "--palette-color-2",
              "label": "t:settings_schema.color_palette.settings.palette_color_2.label"
            },
            {
              "value": "--palette-color-3",
              "label": "t:settings_schema.color_palette.settings.palette_color_3.label"
            },
            {
              "value": "--palette-color-4",
              "label": "t:settings_schema.color_palette.settings.palette_color_4.label"
            },
            {
              "value": "--palette-color-5",
              "label": "t:settings_schema.color_palette.settings.palette_color_5.label"
            },
            {
              "value": "--palette-color-6",
              "label": "t:settings_schema.color_palette.settings.palette_color_6.label"
            },
            {
              "value": "--palette-color-7",
              "label": "t:settings_schema.color_palette.settings.palette_color_7.label"
            }
          ],
          "default": "--palette-color-3"
        },
        {
          "type": "range",
          "id": "theme_color_card_background_opacity",
          "label": "Background opacity for the card color",
          "info": "❗️NOTE❗️: This is overridden by the \"Use progressively darker backgrounds\" checkbox in the section settings.",
          "min": 0,
          "max": 100,
          "default": 25
        },
        {
          "type": "select",
          "id": "theme_color_card_text",
          "label": "t:settings_schema.theme_colors.settings.sections.text_color_label",
          "info": "Sets the text color",
          "options": [
            {
              "value": "theme_default",
              "label": "t:settings_schema.color_palette.settings.theme_default.label"
            },
            {
              "value": "theme-color-text-0",
              "label": "t:settings_schema.color_palette.settings.palette_color_0.label"
            },
            {
              "value": "theme-color-text-1",
              "label": "t:settings_schema.color_palette.settings.palette_color_1.label"
            },
            {
              "value": "theme-color-text-2",
              "label": "t:settings_schema.color_palette.settings.palette_color_2.label"
            },
            {
              "value": "theme-color-text-3",
              "label": "t:settings_schema.color_palette.settings.palette_color_3.label"
            },
            {
              "value": "theme-color-text-4",
              "label": "t:settings_schema.color_palette.settings.palette_color_4.label"
            },
            {
              "value": "theme-color-text-5",
              "label": "t:settings_schema.color_palette.settings.palette_color_5.label"
            },
            {
              "value": "theme-color-text-6",
              "label": "t:settings_schema.color_palette.settings.palette_color_6.label"
            },
            {
              "value": "theme-color-text-7",
              "label": "t:settings_schema.color_palette.settings.palette_color_7.label"
            }
          ],
          "default": "theme_default"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text",
          "default": "Button text"
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "Button Destination"
        },
        {
          "type": "select",
          "id": "button_type",
          "label": "t:settings_schema.theme_colors.settings.buttons.button_type_label",
          "info": "t:settings_schema.theme_colors.settings.buttons.button_type_info",
          "options": [
            {
              "value": "primary",
              "label": "Primary"
            },
            {
              "value": "secondary",
              "label": "Secondary"
            }
          ],
          "default": "primary"
        },
        {
          "type": "select",
          "id": "theme_color_section_button_background",
          "label": "t:settings_schema.theme_colors.settings.buttons.static_bg_label",
          "info": "t:settings_schema.theme_colors.settings.buttons.static_bg_info",
          "options": [
            {
              "value": "theme_default",
              "label": "t:settings_schema.color_palette.settings.theme_default.label"
            },
            {
              "value": "theme-color-bg-0",
              "label": "t:settings_schema.color_palette.settings.palette_color_0.label"
            },
            {
              "value": "theme-color-bg-1",
              "label": "t:settings_schema.color_palette.settings.palette_color_1.label"
            },
            {
              "value": "theme-color-bg-2",
              "label": "t:settings_schema.color_palette.settings.palette_color_2.label"
            },
            {
              "value": "theme-color-bg-3",
              "label": "t:settings_schema.color_palette.settings.palette_color_3.label"
            },
            {
              "value": "theme-color-bg-4",
              "label": "t:settings_schema.color_palette.settings.palette_color_4.label"
            },
            {
              "value": "theme-color-bg-5",
              "label": "t:settings_schema.color_palette.settings.palette_color_5.label"
            },
            {
              "value": "theme-color-bg-6",
              "label": "t:settings_schema.color_palette.settings.palette_color_6.label"
            },
            {
              "value": "theme-color-bg-7",
              "label": "t:settings_schema.color_palette.settings.palette_color_7.label"
            }
          ],
          "default": "theme_default"
        },
        {
          "type": "select",
          "id": "theme_color_text_section_button_text",
          "label": "t:settings_schema.theme_colors.settings.buttons.static_text_label",
          "info": "t:settings_schema.theme_colors.settings.buttons.static_text_info",
          "options": [
            {
              "value": "theme_default",
              "label": "t:settings_schema.color_palette.settings.theme_default.label"
            },
            {
              "value": "theme-color-text-0",
              "label": "t:settings_schema.color_palette.settings.palette_color_0.label"
            },
            {
              "value": "theme-color-text-1",
              "label": "t:settings_schema.color_palette.settings.palette_color_1.label"
            },
            {
              "value": "theme-color-text-2",
              "label": "t:settings_schema.color_palette.settings.palette_color_2.label"
            },
            {
              "value": "theme-color-text-3",
              "label": "t:settings_schema.color_palette.settings.palette_color_3.label"
            },
            {
              "value": "theme-color-text-4",
              "label": "t:settings_schema.color_palette.settings.palette_color_4.label"
            },
            {
              "value": "theme-color-text-5",
              "label": "t:settings_schema.color_palette.settings.palette_color_5.label"
            },
            {
              "value": "theme-color-text-6",
              "label": "t:settings_schema.color_palette.settings.palette_color_6.label"
            },
            {
              "value": "theme-color-text-7",
              "label": "t:settings_schema.color_palette.settings.palette_color_7.label"
            }
          ],
          "default": "theme_default"
        },
        {
          "type": "select",
          "id": "theme_color_section_button_background_hover",
          "label": "t:settings_schema.theme_colors.settings.buttons.hover_bg_label",
          "info": "t:settings_schema.theme_colors.settings.buttons.hover_bg_info",
          "options": [
            {
              "value": "theme_default",
              "label": "t:settings_schema.color_palette.settings.theme_default.label"
            },
            {
              "value": "theme-color-bg-0-hover",
              "label": "t:settings_schema.color_palette.settings.palette_color_0.label"
            },
            {
              "value": "theme-color-bg-1-hover",
              "label": "t:settings_schema.color_palette.settings.palette_color_1.label"
            },
            {
              "value": "theme-color-bg-2-hover",
              "label": "t:settings_schema.color_palette.settings.palette_color_2.label"
            },
            {
              "value": "theme-color-bg-3-hover",
              "label": "t:settings_schema.color_palette.settings.palette_color_3.label"
            },
            {
              "value": "theme-color-bg-4-hover",
              "label": "t:settings_schema.color_palette.settings.palette_color_4.label"
            },
            {
              "value": "theme-color-bg-5-hover",
              "label": "t:settings_schema.color_palette.settings.palette_color_5.label"
            },
            {
              "value": "theme-color-bg-6-hover",
              "label": "t:settings_schema.color_palette.settings.palette_color_6.label"
            },
            {
              "value": "theme-color-bg-7-hover",
              "label": "t:settings_schema.color_palette.settings.palette_color_7.label"
            }
          ],
          "default": "theme_default"
        },
        {
          "type": "select",
          "id": "theme_color_text_section_button_text_hover",
          "label": "t:settings_schema.theme_colors.settings.buttons.hover_text_label",
          "info": "t:settings_schema.theme_colors.settings.buttons.hover_text_info",
          "options": [
            {
              "value": "theme_default",
              "label": "t:settings_schema.color_palette.settings.theme_default.label"
            },
            {
              "value": "theme-color-text-0-hover",
              "label": "t:settings_schema.color_palette.settings.palette_color_0.label"
            },
            {
              "value": "theme-color-text-1-hover",
              "label": "t:settings_schema.color_palette.settings.palette_color_1.label"
            },
            {
              "value": "theme-color-text-2-hover",
              "label": "t:settings_schema.color_palette.settings.palette_color_2.label"
            },
            {
              "value": "theme-color-text-3-hover",
              "label": "t:settings_schema.color_palette.settings.palette_color_3.label"
            },
            {
              "value": "theme-color-text-4-hover",
              "label": "t:settings_schema.color_palette.settings.palette_color_4.label"
            },
            {
              "value": "theme-color-text-5-hover",
              "label": "t:settings_schema.color_palette.settings.palette_color_5.label"
            },
            {
              "value": "theme-color-text-6-hover",
              "label": "t:settings_schema.color_palette.settings.palette_color_6.label"
            },
            {
              "value": "theme-color-text-7-hover",
              "label": "t:settings_schema.color_palette.settings.palette_color_7.label"
            }
          ],
          "default": "theme_default"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Saalt Absorbency Chart",
      "category": "custom saalt section",
      "settings": {},
      "blocks": [
        {
          "type": "absorbency_card",
          "settings": {
            "absorbency_name": "Light"
          }
        },
        {
          "type": "absorbency_card",
          "settings": {
            "absorbency_name": "Regular"
          }
        },
        {
          "type": "absorbency_card",
          "settings": {
            "absorbency_name": "Heavy"
          }
        },
        {
          "type": "absorbency_card",
          "settings": {
            "absorbency_name": "Super"
          }
        }
      ]
    }
  ]
}
{% endschema %}
