{%- liquid
  if section.settings.mobile_text_position == 'below'
    assign mobile_flex_direction = 'column-reverse'
  else
    assign mobile_flex_direction = 'column'
  endif
-%}
{%- case section.settings.title_font_size -%}
  {%- when 'x-large' -%}
    {%- capture title_css -%}
      font-size: 50px;
      font-weight: 600;
      line-height: 55px;
    {%- endcapture -%}
  {%- when 'large' -%}
    {%- capture title_css -%}
      font-size: 48px;
      font-weight: 600;
      line-height: 55px;
    {%- endcapture -%}
  {%- when 'medium' -%}
    {%- capture title_css -%}
      font-size: 40px;
      font-weight: 600;
      line-height: 44px;
    {%- endcapture -%}
  {%- else -%}
    {%- capture title_css -%}
    font-size: 30px;
    font-weight: 600;
    line-height: 34px;
  {%- endcapture -%}
{%- endcase -%}
{%- case section.settings.content_font_size -%}
  {%- when 'x-large' -%}
    {%- capture content_css -%}
      font-size: 30px;
      font-style: normal;
      font-weight: 400;
      line-height: 45px;
      letter-spacing: 0em;
    {%- endcapture -%}
  {%- when 'large' -%}
    {%- capture content_css -%}
      font-size: 25px;
      font-weight: 400;
      line-height: 41.25px;
    {%- endcapture -%}
  {%- when 'medium' -%}
    {%- capture content_css -%}
      font-size: 18px;
      font-weight: 400;
      line-height: 27px;
    {%- endcapture -%}
  {%- else -%}
    {%- capture content_css -%}
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  {%- endcapture -%}
{%- endcase -%}

{%- assign block_count = section.blocks | size -%}
{%- assign all_icons = '' -%}
{%- assign tiles_code = '' -%}
<section id="section-{{ section.id }}" data-section-id="{{ section.id }}" class="section-image-with-text">
  <div
    {% if section.settings.section_id != blank %}
      id="{{ section.settings.section_id | handleize }}"
    {% endif -%}
    class="section-inner"
  >
    <div class="text-wrapper">
      {%- if block_count > 0 -%}
        {%- for block in section.blocks -%}
          {% case block.type %}
            {%- when 'section_title' -%}
              {%- if block.settings.title != blank -%}
                <h{{ block.settings.heading_tag }} class="section-title">
                  {{- block.settings.title -}}
                </h{{ block.settings.heading_tag }}>
              {%- endif -%}
            {%- when 'section_content' -%}
              {%- if block.settings.text_content != blank -%}
                <div class="section-content">{{ block.settings.text_content }}</div>
              {%- endif -%}
            {%- when 'section_buttons_group' -%}
              {%- for block in section.blocks -%}
                {%- case block.type -%}
                  {%- when 'section_button' -%}
                    {%- if block.settings.button_text != blank -%}
                      {%- capture button_code -%}                      
                        <a href="{{ block.settings.button_url }}" class="button{% if block.settings.button_style == "alt" %} alt{% endif %}">{{ block.settings.button_text }}</a>
                        {%- endcapture -%}
                      {%- assign buttons_code = buttons_code | append: button_code -%}
                    {%- endif -%}
                {%- endcase -%}
              {%- endfor -%}
              {% capture buttons_group_css %}
              @media screen and (min-width: 750px) {
                #section-{{ section.id }} .section-inner .text-wrapper .button-group {
                  gap: {{ block.settings.desktop_buttons_group_gap }};
                  justify-content: {{ block.settings.desktop_button_group_alignment }};
                }
                #section-{{ section.id }} .section-inner .text-wrapper .button-group .button {
                  width: auto;
                }
              }
            {% endcapture %}
              <div class="button-group">
                {{ buttons_code }}
              </div>
            {%- when 'section_tiles_group' -%}
              {%- for block in section.blocks -%}
                {%- case block.type -%}
                  {% when 'saalt_style_1_tile' %}
                    {%- capture tile -%}{% render "saalt-style-1-tile", block: block %}{%- endcapture -%}
                    {%- assign tiles_code = tiles_code | append: tile -%}
                {%- endcase -%}
              {%- endfor -%}
              <div class="tiles-wrapper">
                {{ tiles_code }}
              </div>
              {%- capture tiles_wrapper_css -%}
              #section-{{ section.id }} .section-inner .tiles-wrapper .tile .content-wrapper .tile-text-wrapper .tile-title, #section-{{ section.id }} .section-inner .tiles-wrapper .tile .content-wrapper .tile-text-wrapper .tile-content {
                color: {{ block.settings.mobile_text_color }};
                width: 100%;
                text-align: {{ block.settings.tile_mobile_text_alignment }};
              }
              @media screen and (min-width: 750px) {
                #section-{{ section.id }} .section-inner .tiles-wrapper .tile .content-wrapper .tile-text-wrapper {
                  display: flex;
                  position: absolute;
                  flex-direction: column;
                  justify-content: {{ block.settings.desktop_text_placement }};
                  align-items: center;
                  width: 100%;
                  height: 100%;
                  margin: 0 auto 3rem;
                  padding: 1rem;
                  top: 50%;
                  pointer-events: none;
                  transform: translateY(-50%);
                  transition: opacity ease-in-out .1s;
                }
                #section-{{ section.id }} .section-inner .tiles-wrapper .tile .content-wrapper .tile-text-wrapper .tile-title, #section-{{ section.id }} .section-inner .tiles-wrapper .tile .content-wrapper .tile-text-wrapper .tile-content {
                  color: {{ block.settings.desktop_text_color }};
                }
                #section-{{ section.id }} .section-inner .tiles-wrapper .tile .tile-link:hover + .tile-text-wrapper, #section-{{ section.id }} .section-inner .tiles-wrapper .tile .tile-link:focus + .tile-text-wrapper {
                  top: 0;
                  transform: translateY(0);
                  justify-content: {{ block.settings.desktop_text_hover_placement }};
                }
                #section-{{ section.id }} .section-inner .tiles-wrapper .tile .content-wrapper .tile-text-wrapper .tile-title, #section-{{ section.id }} .section-inner .tiles-wrapper .tile .content-wrapper .tile-text-wrapper .tile-content {
                  text-align: {{ block.settings.tile_desktop_text_alignment }};
                }
                #section-{{ section.id }} .section-inner .tiles-wrapper .tile .content-wrapper .tile-link:hover + .tile-text-wrapper > .tile-title, #section-{{ section.id }} .section-inner .tiles-wrapper .tile .content-wrapper .tile-link:focus + .tile-text-wrapper > .tile-title, #section-{{ section.id }} .section-inner .tiles-wrapper .tile .content-wrapper .tile-link:hover + .tile-text-wrapper > .tile-content, #section-{{ section.id }} .section-inner .tiles-wrapper .tile .content-wrapper .tile-link:focus + .tile-text-wrapper > .tile-content {
                  color: {{ block.settings.desktop_text_hover_focus_color }};
                  align-content: {{ block.settings.desktop_text_hover_placement }};
                  text-align: {{ block.settings.tile_desktop_text_alignment_hover_focus }};
                }
              }
              @media screen and (min-width: 900px) {
                #section-{{ section.id }} .section-inner .tiles-wrapper .tile .content-wrapper .tile-text-wrapper {
                  padding: 3rem;
                }
              }
            {%- endcapture -%}
            {%- when 'section_icon_group' -%}
              {%- for block in section.blocks -%}
                {%- case block.type -%}
                  {%- when 'section_icon_with_text' -%}
                    {%- capture icon_code -%}{% render "saalt-svg-icon", icon_svg: block.settings.icon_svg, icon_text: block.settings.icon_text %}{%- endcapture -%}
                    {%- assign all_icons = all_icons | append: icon_code -%}
                {%- endcase -%}
              {%- endfor -%}
              {% style %}
                #section-{{ section.id }} .icons-wrapper {
                  justify-content: {{ block.settings.mobile_icon_alignment }};
                  gap: {{ block.settings.mobile_icon_group_gap }};
                  {%- if block.settings.use_max_icon_group_width -%}
                  max-width: {{ block.settings.icon_group_max_width }};
                  margin: 0 auto 3rem;
                  {%- endif -%}
                }
                #section-{{ section.id }} .icons-wrapper .icon-wrapper .icon-svg-wrapper svg {
                  fill: {{ block.settings.icon_color }};
                }
                #section-{{ section.id }} .icons-wrapper .icon-wrapper .icon-text, #section-{{ section.id }} .icons-wrapper .icon-wrapper .icon-text > * {
                  color: {{ block.settings.icon_color }};
                  text-align: center;
                }
                #section-{{ section.id }} .icons-wrapper .icon-wrapper {
                  min-width: {{ block.settings.mobile_icon_min_width }};
                  max-width: {{ block.settings.mobile_icon_wrapper_max_width }};
                }
                #section-{{ section.id }} .icons-wrapper .icon-wrapper .icon-svg-wrapper {
                  max-width: {{ block.settings.mobile_icon_max_width }};
                  min-height: {{ block.settings.mobile_icon_height }};
                  max-height: {{ block.settings.mobile_icon_height }};
                }
                #section-{{ section.id }} .icons-wrapper .icon-wrapper .icon-text, #section-{{ section.id }} .icons-wrapper .icon-wrapper .icon-text > * {
                  font-size: {{ block.settings.mobile_icon_text_size }};
                }
                @media screen and (min-width: 750px) {
                  #section-{{ section.id }} .icons-wrapper {
                    justify-content: {{ block.settings.desktop_icon_alignment }};
                    gap: {{ block.settings.desktop_icon_group_gap }};
                    {%- if block.settings.use_max_icon_group_width -%}
                    max-width: {{ block.settings.icon_group_max_width }};
                    margin: 0 auto 3rem;
                    {%- endif -%}
                  }
                  #section-{{ section.id }} .icons-wrapper .icon-wrapper {
                    min-width: {{ block.settings.desktop_icon_min_width }};
                    max-width: {{ block.settings.desktop_icon_wrapper_max_width }};
                  }
                  #section-{{ section.id }} .icons-wrapper .icon-wrapper .icon-svg-wrapper {
                    max-width: {{ block.settings.desktop_icon_max_width }};
                    min-height: {{ block.settings.desktop_icon_height }};
                    max-height: {{ block.settings.desktop_icon_height }};
                  }
                  #section-{{ section.id }} .icons-wrapper .icon-wrapper .icon-text, #section-{{ section.id }} .icons-wrapper .icon-wrapper .icon-text > * {
                    font-size: {{ block.settings.desktop_icon_text_size }};
                  }
                }
              {% endstyle %}
              <ul class="icons-wrapper">
                {{ all_icons }}
              </ul>
              {% style %}
                #section-{{ section.id }} .icons-wrapper {
                  gap: {{ block.settings.icon_group_gap }};
                }
                @media screen and (min-width: 750px) {
                  #section-{{ section.id }} .icons-wrapper {
                    justify-content: {{ block.settings.desktop_icon_alignment }};
                    {%- if block.settings.use_max_icon_group_width -%}
                    max-width: {{ block.settings.icon_group_max_width }};
                    margin: 0 auto 3rem;
                    {%- endif -%}
                  }
                }
                #section-{{ section.id }} .icons-wrapper .icon-wrapper {
                  min-width: {{ block.settings.desktop_icon_min_width }};
                  max-width: {{ block.settings.desktop_icon_wrapper_max_width }};
                }
                #section-{{ section.id }} .icons-wrapper .icon-wrapper .icon-svg-wrapper {
                  max-width: {{ block.settings.desktop_icon_max_width }};
                  min-height: {{ block.settings.desktop_icon_height }};
                  max-height: {{ block.settings.desktop_icon_height }};
                }
                #section-{{ section.id }} .icons-wrapper .icon-wrapper .icon-svg-wrapper svg {
                  fill: {{ block.settings.icon_color }};
                }
                #section-{{ section.id }} .icons-wrapper .icon-wrapper .icon-text {
                  color: {{ block.settings.icon_color }};
                  font-size: {{ block.settings.icon_text_size }};
                  text-align: center;
                }
              {% endstyle %}
            {%- when 'saalt_contact_links' -%}
              {% render 'saalt-contact-links', block: block %}
            {%- when 'custom_liquid_code' -%}
              {{ block.settings.liquid_code }}
          {% endcase %}
        {%- endfor -%}
      {%- endif -%}
    </div>
  </div>
</section>

{%- style -%}
  #section-{{ section.id }} .section-inner {
    display: flex;
    background: {{ section.settings.background_color }};
    flex-direction: {{ mobile_flex_direction }};
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #section-{{ section.id }} .text-wrapper {
    width: 100%;
    text-align: {{ section.settings.mobile_text_alignment }};
    padding: 4rem 2rem;
    margin: 0 auto;
  }
  #section-{{ section.id }} .text-wrapper > * {
    margin-bottom: 3rem;
  }
  #section-{{ section.id }} .text-wrapper .section-title, #section-{{ section.id }} .text-wrapper .section-content, #section-{{ section.id }} .text-wrapper .section-content > p {
    color: {{ section.settings.section_text_color }};
    width: 100%;
  }
  #section-{{ section.id }} .text-wrapper .section-title {
    {{ title_css }}
  }
  #section-{{ section.id }} .text-wrapper .section-content {
    {{ content_css }}
  }
  #section-{{ section.id }} .text-wrapper .contact-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 4rem;
  }
  #section-{{ section.id }} .text-wrapper .contact-wrapper .contact {
    flex-direction: column;
    font-size: 2rem;
    gap: 1rem;
  }
  #section-{{ section.id }} .text-wrapper .contact-wrapper .contact, #section-{{ section.id }} .text-wrapper .contact-wrapper .contact .contact-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #section-{{ section.id }} .text-wrapper .contact-wrapper .contact .contact-image {
    height: 8rem;
  }
  #section-{{ section.id }} .text-wrapper .contact-wrapper .contact-content {
    font-size: clamp(1.75rem, 1.5vw, 2.25rem);
    line-height: 1.25;
    text-align: left;
    text-decoration: underline;
    text-underline-offset: 4px;
  }
  #section-{{ section.id }} .text-wrapper .contact-wrapper .contact .contact-image svg {
    height: 100%;
    fill: {{ section.settings.text_color }};
  }
  #section-{{ section.id }} .text-wrapper .contact-wrapper .contact .contact-content {
    color: {{ section.settings.text_color }};
  }
  #section-{{ section.id }} .icons-wrapper, #section-{{ section.id }} .icons-wrapper .icon-wrapper, #section-{{ section.id }} .icons-wrapper .icon-wrapper .icon-svg-wrapper {
    display: flex;
    width: 100%;
  }
  #section-{{ section.id }} .icons-wrapper {
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  #section-{{ section.id }} .icons-wrapper .icon-wrapper {
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    overflow: hidden;
  }
  #section-{{ section.id }} .icons-wrapper .icon-wrapper .icon-svg-wrapper svg {
    width: 100%;
    height: auto;
  }
  #section-{{ section.id }} .section-inner .text-wrapper .button-wrapper {
    display: block;
    width: 100%;
    text-align: center;
  }
  #section-{{ section.id }} .section-inner .text-wrapper .button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1.5rem;
    width: 100%;
  }
  #section-{{ section.id }} .section-inner .text-wrapper .button-wrapper .button, #section-{{ section.id }} .section-inner .text-wrapper .button-group .button {
    background: {{ section.settings.button_color }};
    color: {{ section.settings.button_text_color }};
    border-color: transparent;
    transition: all ease-in-out .1s;
  }
  #section-{{ section.id }} .section-inner .text-wrapper .button-group .button {
    width: 100%;
  }
  #section-{{ section.id }} .section-inner .text-wrapper .button-wrapper .button.alt, #section-{{ section.id }} .section-inner .text-wrapper .button-group .button.alt {
    background: transparent;
    border-color: {{ section.settings.button_color }};
    color: {{ section.settings.button_text_color }};
  }
  #section-{{ section.id }} .section-inner .text-wrapper .button-wrapper .button:hover, #section-{{ section.id }} .section-inner .text-wrapper .button-wrapper .button:focus, #section-{{ section.id }} .section-inner .text-wrapper .button-group .button:hover, #section-{{ section.id }} .section-inner .text-wrapper .button-group .button:focus {
    background: {{ section.settings.button_color_hover_focus }};
    border-color: {{ section.settings.button_color_hover_focus }};
    color: {{ section.settings.button_text_hover_focus }};
  }
  #section-{{ section.id }} .section-inner .text-wrapper .button-wrapper .button.alt:hover, #section-{{ section.id }} .section-inner .text-wrapper .button-wrapper .button.alt:focus, #section-{{ section.id }} .section-inner .text-wrapper .button-wrapper .button.alt:hover, #section-{{ section.id }} .section-inner .text-wrapper .button-group .button.alt:focus {
    border-color: {{ section.settings.button_color_hover_focus }};
    color: {{ section.settings.button_text_hover_focus }};
  }
  #section-{{ section.id }} .section-inner .text-wrapper .button-wrapper {
    text-align: {{ section.settings.mobile_text_alignment }};
  }
  #section-{{ section.id }} .section-inner .text-wrapper > *:last-child {
    margin-bottom: 0;
  }
  #section-{{ section.id }} .section-inner .tiles-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2.5rem;
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
  }
  #section-{{ section.id }} .section-inner .tiles-wrapper .tile, #section-{{ section.id }} .section-inner .tiles-wrapper .tile .content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }
  #section-{{ section.id }} .section-inner .tiles-wrapper .tile {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  #section-{{ section.id }} .content-wrapper .tile-link {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    cursor: pointer;
    transition: opacity ease-in-out .1s;
    overflow: hidden;
  }
  #section-{{ section.id }} .content-wrapper .tile-link .image-wrapper, #section-{{ section.id }} .content-wrapper .tile-link .image-wrapper > * {
    display: block;
    width: auto;
    max-width: unset;
    height: 100%;
  }
  #section-{{ section.id }} .section-inner .tiles-wrapper .tile .content-wrapper .tile-text-wrapper {
    padding: 1rem 3rem;
  }
  #section-{{ section.id }} .section-inner .tiles-wrapper .tile .button-wrapper {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
  }
  #section-{{ section.id }} .section-inner .tiles-wrapper .tile .button-wrapper .button {
    background: {{ section.settings.button_color }};
    color: {{ section.settings.button_text_color }};
    border-color: transparent;
    transition: all ease-in-out .1s;
  }
  #section-{{ section.id }} .section-inner .tiles-wrapper .tile .button-wrapper .button.alt {
    background: transparent;
    color: {{ section.settings.button_text_color }};
    border-color: {{ section.settings.button_color }};
    transition: all ease-in-out .1s;
  }
  #section-{{ section.id }} .section-inner .text-wrapper *:last-child {
    margin-bottom: 0;
  }
  @media screen and (min-width: 420px) {
    #section-{{ section.id }} .text-wrapper .contact-wrapper .contact {
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }
  @media screen and (min-width: 750px) {
    #section-{{ section.id }} .text-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      padding: 4rem;
      text-align: {{ section.settings.desktop_text_alignment }};
    }
    #section-{{ section.id }} .text-wrapper .contact-wrapper {
      width: 100%;
      gap: 4rem;
      {%- if section.settings.desktop_text_alignment == "left" -%}
      justify-content: flex-start;
      {%- elsif section.settings.desktop_text_alignment == "right" -%}
      justify-content: flex-end;
      {%- endif -%};
    }
    #section-{{ section.id }} .text-wrapper .contact-wrapper .contact .contact-image {
      height: auto;
    }
    {%- if section.settings.use_max_text_width -%}
    #section-{{ section.id }} .text-wrapper > *:not(.icons-wrapper) {
      max-width: {{ section.settings.max_width }};
    }
    {%- endif -%}
    #section-{{ section.id }} .section-inner .tiles-wrapper .tile {
      max-width: 45%;
      gap: calc(100vw / 25);
    }
    #section-{{ section.id }} .section-inner .tiles-wrapper .tile .content-wrapper {
      position: relative;
      gap: unset;
    }
    #section-{{ section.id }} .tile-text-wrapper > .tile-title {
      margin-bottom: 0;
    }
    #section-{{ section.id }} .tile-text-wrapper > .tile-content {
      height: 0;
    }
    #section-{{ section.id }} .tile-link:hover, #section-{{ section.id }} .tile-link:focus {
      opacity: .075;
    }
    #section-{{ section.id }} .tile-content {
      opacity: 0;
    }
    #section-{{ section.id }} .tile-link:hover + .tile-text-wrapper > .tile-title, #section-{{ section.id }} .tile-link:focus + .tile-text-wrapper > .tile-title {
      font-size: 1.75rem;
      line-height: 1.5;
      margin-bottom: 1.75rem;
    }
    #section-{{ section.id }} .tile-link:hover + .tile-text-wrapper > .tile-content, #section-{{ section.id }} .tile-link:focus + .tile-text-wrapper > .tile-content {
      opacity: 1;
      height: auto;
    }
  }
  {%- if section.settings.section_padding != "default" -%}
    {%- case section.settings.section_padding -%}
      {%- when "remove_top" -%}
        {%- assign special_section_padding = "padding-top: 0;" -%}
      {%- when "remove_bottom" -%}
        {%- assign special_section_padding = "padding-bottom: 0;" -%}
      {%- when "remove_both" -%}
        {%- assign special_section_padding = "padding-top: 0; padding-bottom: 0;" -%}
    {%- endcase -%}
    #section-{{ section.id }} .text-wrapper {
      {{ special_section_padding }}
    }
  {%- endif -%}
  {{ buttons_group_css }}
  {{ tiles_wrapper_css }}
  {% render 'saalt-custom-section-button-css', section: section %}
{%- endstyle -%}

{% schema %}
{
  "name": "Saalt Style 1 Tiles",
  "settings": [
    {
      "type": "text",
      "id": "section_id",
      "label": "Section ID (Optional)",
      "info": "Typically only used when setting this ID as a link's destination."
    },
    {
      "type": "header",
      "content": "Text Settings"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "#EEF0F4"
    },
    {
      "type": "color",
      "id": "section_text_color",
      "label": "Section Text color",
      "default": "#3F4759"
    },
    {
      "type": "select",
      "id": "title_font_size",
      "label": "Title font size",
      "info": "This sets the font size for *all* section titles",
      "options": [
        {
          "value": "small",
          "label": "Small (30px)"
        },
        {
          "value": "medium",
          "label": "Medium (40px)"
        },
        {
          "value": "large",
          "label": "Large (48px)"
        },
        {
          "value": "x-large",
          "label": "X-Large (50px)"
        }
      ],
      "default": "small"
    },
    {
      "type": "select",
      "id": "content_font_size",
      "label": "Content font size",
      "info": "This sets the font size for *all* section content",
      "options": [
        {
          "value": "small",
          "label": "Small (16px)"
        },
        {
          "value": "medium",
          "label": "Medium (18px)"
        },
        {
          "value": "large",
          "label": "Large (25px)"
        },
        {
          "value": "x-large",
          "label": "X-Large (30px)"
        }
      ],
      "default": "small"
    },
    {
      "type": "select",
      "id": "section_padding",
      "label": "Top & Bottom Padding",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "remove_top",
          "label": "Remove top"
        },
        {
          "value": "remove_bottom",
          "label": "Remove bottom"
        },
        {
          "value": "remove_both",
          "label": "Remove both"
        }
      ],
      "default": "default"
    },
    {
      "type": "header",
      "content": "Mobile Text Settings"
    },
    {
      "type": "select",
      "id": "mobile_text_alignment",
      "label": "Text alignment on *MOBILE*",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        },
        {
          "value": "justify",
          "label": "Justify"
        }
      ],
      "default": "center"
    },
    {
      "type": "header",
      "content": "Desktop Text Settings"
    },
    {
      "type": "select",
      "id": "desktop_text_alignment",
      "label": "Text alignment on *DESKTOP ONLY*",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        },
        {
          "value": "justify",
          "label": "Justify"
        }
      ],
      "default": "center"
    },
    {
      "type": "checkbox",
      "id": "use_max_text_width",
      "label": "Use desktop max width for text content?",
      "info": "This sets the max width of the text content *ON DESKTOP*"
    },
    {
      "type": "text",
      "id": "max_width",
      "label": "Max Width Value",
      "info": "Any valid css value is accepted",
      "default": "600px"
    },
    {
      "type": "header",
      "content": "Button Settings"
    },
    {
      "type": "color",
      "id": "button_color",
      "label": "Section Buttons Color",
      "default": "#3F4759"
    },
    {
      "type": "color",
      "id": "button_color_hover_focus",
      "label": "Section Buttons Color Hover/Focus State",
      "info": "Main buttons color on hover and focus",
      "default": "#5A5F6F"
    },
    {
      "type": "color",
      "id": "button_text_color",
      "label": "Section Buttons Text Color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "button_text_hover_focus",
      "label": "Section Buttons Text Hover/Focus State",
      "info": "Text color on hover and focus",
      "default": "#ffffff"
    }
  ],
  "blocks": [
    {
      "type": "section_tiles_group",
      "name": "Tile Group",
      "settings": [
        {
          "type": "paragraph",
          "content": "❗️NOTE❗️: This is just a parent element/container to wrap around tile blocks. Please be sure to also add tile blocks or this will appear empty. Drag and drop this to move the tiles within the section."
        },
        {
          "type": "header",
          "content": "Tile Text Settings"
        },
        {
          "type": "color",
          "id": "mobile_text_color",
          "label": "Mobile Tile Text Color",
          "default": "#3F4759"
        },
        {
          "type": "select",
          "id": "tile_mobile_text_alignment",
          "label": "Tile Text Alignment On *MOBILE*",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            },
            {
              "value": "justify",
              "label": "Justify"
            }
          ],
          "default": "center"
        },
        {
          "type": "color",
          "id": "desktop_text_color",
          "label": "Desktop Tile Text Color",
          "default": "#3F4759"
        },
        {
          "type": "color",
          "id": "desktop_text_hover_focus_color",
          "label": "Desktop Hover & Focus Color",
          "info": "The color of the tile's text during hover or focus",
          "default": "#3F4759"
        },
        {
          "type": "select",
          "id": "tile_desktop_text_alignment",
          "label": "Tile Text Alignment On *DESKTOP*",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            },
            {
              "value": "justify",
              "label": "Justify"
            }
          ],
          "default": "center"
        },
        {
          "type": "select",
          "id": "desktop_text_placement",
          "label": "Desktop Text Position",
          "info": "The vertical location of the text within the tile.",
          "options": [
            {
              "value": "flex-start",
              "label": "Top"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "flex-end",
              "label": "Bottom"
            }
          ],
          "default": "center"
        },
        {
          "type": "select",
          "id": "tile_desktop_text_alignment_hover_focus",
          "label": "Desktop Hover & Focus Text Alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            },
            {
              "value": "justify",
              "label": "Justify"
            }
          ],
          "default": "center"
        },
        {
          "type": "select",
          "id": "desktop_text_hover_placement",
          "label": "Desktop Hover & Focus Text Position",
          "info": "The vertical location of the text within the tile during a hover or focus event.",
          "options": [
            {
              "value": "flex-start",
              "label": "Top"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "flex-end",
              "label": "Bottom"
            }
          ],
          "default": "center"
        }
      ]
    },
    {
      "type": "saalt_style_1_tile",
      "name": "Style 1 Tile",
      "settings": [
        {
          "type": "paragraph",
          "content": "❗️NOTE❗️ Be sure to add an 'Tiles Group' block or this will not show up!"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Tile Image",
          "info": "600x600px width or larger recommended. All tile images should be a 1:1 aspect ratio (square). ❗️NOTE❗️ Be sure to add a 'Tiles Group' or this will not show up!"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Tile Title",
          "default": "Tile Title Goes Here"
        },
        {
          "type": "textarea",
          "id": "text_content",
          "label": "Tile Text Content",
          "default": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Non officia eveniet dicta rerum? Possimus nesciunt molestiae voluptatibus reprehenderit nostrum."
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Tile Button Text"
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "Tile URL"
        }
      ]
    },
    {
      "type": "section_title",
      "name": "Section Title",
      "settings": [
        {
          "type": "select",
          "id": "heading_tag",
          "label": "Heading Tag",
          "options": [
            {
              "value": "1",
              "label": "H1"
            },
            {
              "value": "2",
              "label": "H2"
            },
            {
              "value": "3",
              "label": "H3"
            }
          ],
          "default": "1"
        },
        {
          "type": "textarea",
          "id": "title",
          "label": "Title",
          "default": "Section Title Goes Here"
        }
      ]
    },
    {
      "type": "section_content",
      "name": "Section Content",
      "settings": [
        {
          "type": "richtext",
          "id": "text_content",
          "label": "Text content",
          "default": "<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non officia eveniet dicta rerum? Possimus nesciunt molestiae voluptatibus reprehenderit nostrum.</p>"
        }
      ]
    },
    {
      "type": "section_buttons_group",
      "name": "Section Buttons Group",
      "settings": [
        {
          "type": "paragraph",
          "content": "❗️NOTE❗️: This is just a parent element/container to wrap around section button blocks. Please be sure to also add section button blocks or this will appear empty. Drag and drop this to move the buttons within the section."
        },
        {
          "type": "select",
          "id": "desktop_button_group_alignment",
          "label": "Button Group Alignment on *DESKTOP*",
          "info": "❗️Add section buttons in the previous menu ❗️",
          "options": [
            {
              "value": "flex-start",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "flex-end",
              "label": "Right"
            }
          ],
          "default": "center"
        },
        {
          "type": "text",
          "id": "desktop_buttons_group_gap",
          "label": "Space Between Buttons on *DESKTOP*",
          "info": "Distance between buttons for the entire buttons group. Any valid css value is accepted.",
          "default": "1rem"
        }
      ]
    },
    {
      "type": "section_button",
      "name": "Section Button",
      "settings": [
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text",
          "default": "Button text"
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "Button Destination"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "Section Button Style",
          "options": [
            {
              "value": "primary",
              "label": "Primary"
            },
            {
              "value": "alt",
              "label": "Alt"
            }
          ],
          "default": "primary"
        }
      ]
    },
    {
      "type": "section_icon_group",
      "name": "SVG Icon Group",
      "settings": [
        {
          "type": "paragraph",
          "content": "❗️NOTE❗️: This is just a parent element/container to wrap around SVG icon blocks. Please be sure to also add SVG icon blocks or this will appear empty. Drag and drop this to move the icons within the section."
        },
        {
          "type": "checkbox",
          "id": "use_max_icon_group_width",
          "label": "Use desktop max width for icons group?",
          "info": "This sets the max width of the icons group *ON DESKTOP*"
        },
        {
          "type": "text",
          "id": "icon_group_max_width",
          "label": "Icon *GROUP MAX* Width",
          "info": "Max width for the entire icon group. Any valid css value is accepted.",
          "default": "600px"
        },
        {
          "type": "color",
          "id": "icon_color",
          "label": "Icon color",
          "info": "This colors the svg as well as any optional text",
          "default": "#3F4759"
        },
        {
          "type": "header",
          "content": "Mobile Settings"
        },
        {
          "type": "text",
          "id": "mobile_icon_text_size",
          "label": "Text Font Size On *MOBILE*",
          "info": "Any valid css value for 'font-size' is accepted. Default is 1.5rem",
          "default": "1.5rem"
        },
        {
          "type": "text",
          "id": "mobile_icon_group_gap",
          "label": "Space Between Icons On *MOBILE*",
          "info": "Distance between icons for the entire icon group. Any valid css value is accepted.",
          "default": "3.5rem"
        },
        {
          "type": "text",
          "id": "mobile_icon_min_width",
          "label": "Icon *WRAPPER MIN* Width On *MOBILE*",
          "info": "Minimum width for icon wrapper elements. Any valid css value is accepted.",
          "default": "80px"
        },
        {
          "type": "text",
          "id": "mobile_icon_wrapper_max_width",
          "label": "Icon *WRAPPER MAX* Width On *MOBILE*",
          "info": "Max width for icon wrapper elements. Any valid css value is accepted.",
          "default": "100px"
        },
        {
          "type": "text",
          "id": "mobile_icon_max_width",
          "label": "Icon *MAX* Width On *MOBILE*",
          "info": "Max width for icons inside of the icon wrappers. Any valid css value is accepted.",
          "default": "100%"
        },
        {
          "type": "text",
          "id": "mobile_icon_height",
          "label": "Icon Height On *MOBILE*",
          "info": "Minimum height for icons inside of the icon wrappers. This helps ensure they're all the same size vertically. Any valid css value is accepted.",
          "default": "100px"
        },
        {
          "type": "header",
          "content": "Desktop Settings"
        },
        {
          "type": "text",
          "id": "desktop_icon_text_size",
          "label": "Text Font Size on *DESKTOP*",
          "info": "Any valid css value for 'font-size' is accepted. Default is 1.5rem",
          "default": "1.5rem"
        },
        {
          "type": "text",
          "id": "desktop_icon_group_gap",
          "label": "Space Between Icons on *DESKTOP*",
          "info": "Distance between icons for the entire icon group. Any valid css value is accepted.",
          "default": "3.5rem"
        },
        {
          "type": "text",
          "id": "desktop_icon_min_width",
          "label": "Icon *WRAPPER MIN* Width on *DESKTOP*",
          "info": "Minimum width for icon wrapper elements. Any valid css value is accepted.",
          "default": "80px"
        },
        {
          "type": "text",
          "id": "desktop_icon_wrapper_max_width",
          "label": "Icon *WRAPPER MAX* Width on *DESKTOP*",
          "info": "Max width for icon wrapper elements. Any valid css value is accepted.",
          "default": "100px"
        },
        {
          "type": "text",
          "id": "desktop_icon_max_width",
          "label": "Icon *MAX* Width on *DESKTOP*",
          "info": "Max width for icons inside of the icon wrappers. Any valid css value is accepted.",
          "default": "100%"
        },
        {
          "type": "text",
          "id": "desktop_icon_height",
          "label": "Icon Height on *DESKTOP*",
          "info": "Minimum height for icons inside of the icon wrappers. This helps ensure they're all the same size vertically. Any valid css value is accepted.",
          "default": "100px"
        },
        {
          "type": "select",
          "id": "desktop_icon_alignment",
          "label": "*ICON* Alignment on *DESKTOP*",
          "info": "❗️Add SVG icons in the previous menu ❗️",
          "options": [
            {
              "value": "flex-start",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "flex-end",
              "label": "Right"
            }
          ],
          "default": "center"
        }
      ]
    },
    {
      "type": "section_icon_with_text",
      "name": "SVG Icon",
      "settings": [
        {
          "type": "paragraph",
          "content": "❗️NOTE❗️ Be sure to add an 'SVG Icon Group' block or this will not show up!"
        },
        {
          "type": "html",
          "id": "icon_svg",
          "label": "Icon SVG code",
          "info": "Paste icon svg code here. Be sure to remove any 'fill' and 'stroke' attributes to ensure proper styling."
        },
        {
          "type": "richtext",
          "id": "icon_text",
          "label": "Text",
          "info": "Text is optional"
        }
      ]
    },
    {
      "type": "saalt_contact_links",
      "name": "Saalt Contact Links",
      "settings": []
    },
    {
      "type": "custom_liquid_code",
      "name": "Liquid Code",
      "settings": [
        {
          "type": "liquid",
          "id": "liquid_code",
          "label": "Liquid Code",
          "info": "This allows for a bit more customization within this section. There are limitations to using this however. [Read about that here.](https://shopify.dev/themes/architecture/settings/input-settings#liquid)"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Saalt Style 1 Tiles",
      "category": "custom saalt section",
      "settings": {},
      "blocks": [
        {
          "type": "section_tiles_group",
          "settings": {}
        },
        {
          "type": "saalt_style_1_tile",
          "settings": {}
        },
        {
          "type": "saalt_style_1_tile",
          "settings": {}
        },
        {
          "type": "saalt_style_1_tile",
          "settings": {}
        },
        {
          "type": "saalt_style_1_tile",
          "settings": {}
        }
      ]
    }
  ]
}
{% endschema %}
