<div class="sl-faq-section-holder" style="background-color: {{ section.settings.section-background }}">
  <div class="page-width">
    {% if section.settings.main-heading != blank %}
      <h2 style="font-size: {{ section.settings.main-heading-size }}px; color: {{ section.settings.main-heading-color }};">
        {{ section.settings.main-heading }}
      </h2>
    {% endif %}  
    <div class="sl-faq-inner-holder">
      {% for block in section.blocks %}
        {% if block.settings.faq-heading != blank %}
          <div class="sl-eachFaq close">
            <h4 class="sl-title_accor" style="font-size: {{ section.settings.question-size }}px; color: {{ section.settings.question-color }}; background-color: {{ section.settings.question-color-bg }};">{{ block.settings.faq-heading }}</h4>
            <div class="sl-accordion-content" style="font-size: {{ section.settings.answer-size }}px; color: {{ section.settings.answer-color }}; background-color: {{ section.settings.answer-color-bg }};">
              {{ block.settings.faq-content }}
              {% if block.settings.faq-image != blank %}
                <div class="sl-faq-content-image">
                    <img src="{{ block.settings.faq-image | img_url: 'master' }}" />
                </div>
              {% endif %}  
            </div> 
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

<script type="text/javascript">
    if(typeof(sl_acc) == 'undefined'){
      var sl_acc = document.getElementsByClassName("sl-title_accor");
      setTimeout(function(){
        for (var i = 0; i < sl_acc.length; i++) {
          sl_acc[i].addEventListener("click", function() {
            this.closest(".sl-eachFaq").classList.toggle("open");
            this.closest(".sl-eachFaq").classList.toggle("close");
          });
        }
      },2000)
    }
</script>

{%- style -%}
.sl-faq-section-holder h4{ 
  font-size: 24px;
  margin: 0;
  padding: 10px 20px;
  position: relative;
}
.sl-eachFaq.close h4:before{ 
  content: '+'; 
  width: 20px; 
  height: 20px;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
.sl-eachFaq.open h4:before{ 
  content: '-'; 
  width: 20px; 
  height: 20px;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
.sl-eachFaq .sl-accordion-content{
  display: none;
}
.sl-eachFaq.open .sl-accordion-content{
  display: block;
  transition: display 1s linear;
}
.sl-accordion-content p { 
  margin: 0;
}
.sl-eachFaq .sl-title_accor{ 
   cursor: pointer;
}
.sl-accordion-content {
    padding: 20px 0 10px 25px;
}
.sl-faq-section-holder {
    padding: 50px 0;
}
.sl-faq-section-holder h2 {
    margin-bottom: 50px;
    text-align: center; 
    font-weight: 600;
}
.sl-eachFaq {
    margin-bottom: 2px;
}
.sl-faq-content-image {
    margin-top: 20px;
    width: 450px;
}
.sl-faq-content-image img {
    width: 100%;
}  

@media only screen and (max-width: 767px) {
  .sl-faq-section-holder h4{
    padding: 10px 35px;    
  }
  .sl-faq-section-holder h2 {
    margin-bottom: 35px;
  }
  .sl-accordion-content {
    padding: 15px;
  }
  .sl-faq-content-image {
    margin-top: 20px;
    width: 100%;
  }
}  
{%- endstyle -%}


{% schema %}
  {
    "name": "SL - FAQ",
    "settings": [
      {
        "type": "color",
        "id": "section-background",
        "default": "transparent",
        "label": "Section Background"
      },
      {
        "type": "text",
        "id": "main-heading",
        "label": "Main Heading"
      },
      {
        "type": "range",
        "id": "main-heading-size",
        "min": 12,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Main Heading Size",
        "default": 28
      },
      {
        "type": "color",
        "id": "main-heading-color",
        "label": "Main Heading Color"
      },
      {
        "type": "range",
        "id": "question-size",
        "min": 12,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Question Size",
        "default": 20
      },
      {
        "type": "color",
        "id": "question-color",
        "label": "Question Color"
      },
      {
        "type": "color",
        "id": "question-color-bg",
        "label": "Question Color Background"
      },
      {
        "type": "range",
        "id": "answer-size",
        "min": 12,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Answer Size",
        "default": 16
      },
      {
        "type": "color",
        "id": "answer-color",
        "label": "Answer Color"
      },
      {
        "type": "color",
        "id": "answer-color-bg",
        "label": "Answer Color Background"
      }
    ],
    "blocks": [
      {
        "name": "Q&A",
        "type": "faq",
        "settings": [
          {
            "type": "text",
            "id": "faq-heading",
            "label": "Question"
          },
          {
            "type": "richtext",
            "id": "faq-content",
            "label": "Answer"
          },
          {
            "type": "image_picker",
            "id": "faq-image",
            "label": "Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "SL - FAQ",
        "blocks": [
          {
            "type": "faq",
            "settings": 
              {
              "faq-heading": "Question 1",
              "faq-content": "<p>Answer 1<\/p>"
            }
          },{
            "type": "faq",
            "settings": 
              {
              "faq-heading": "Question 2",
              "faq-content": "<p>Answer 2<\/p>"
            }
          }
        ]
      }
    ]
  }
{% endschema %}